//- Progress
	@param {string} data.class - progress bar class
	@param {number} data.value - progress value
	@param {boolean} data.label - progress label
	@param {boolean} data.vertical - progress vertical
mixin progress( data )
	- if ( data.vertical )
		.progress.progress-vertical&attributes( attributes )
			.progress-bar( role='progressbar', style='height: ' + data.value + '%', aria-valuenow= data.value, aria-valuemin='0', aria-valuemax='100', class= data.className )= data.label ? data.value : ''
	- else
		.progress-wrap
			.progress-header( class= data.reverse ? 'flex-row-reverse' : '' )
				.progress-title( class= data.titleClass ? data.titleClass : '' )= data.progressTitle
				if ( data.labelPreffix )
					.progress-value= data.label ? data.labelPreffix + data.value + '%' : ''
				else
					.progress-value= data.label ? data.value + '%' : ''
			.progress( class= data.reverse ? 'flex-row-reverse' : '' )&attributes( attributes )
				.progress-bar( role='progressbar', style='width: ' + data.value + '%', aria-valuenow= data.value, aria-valuemin='0', aria-valuemax='100', class=data.className )
