<!DOCTYPE html>
<html lang="en">

<head>
    <title>Webilizerr Buy More Scans</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta property="og:title" content="Template Monster Admin Template">
    <meta property="og:description"
        content="brevis, barbatus clabulares aliquando convertam de dexter, peritus capio. devatio clemens habitio est.">
    <meta property="og:image" content="http://digipunk.netii.net/images/radar.gif">
    <meta property="og:url" content="http://digipunk.netii.net">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="components/base/base.css">
    <script src="components/base/core.js"></script>
    <script src="components/base/script.js"></script>
</head>

<body>
    <div class="page">
        <!--RD Navbar-->
        {{> header}}

        <section class="section section-sm section-layer pb-1"
            data-preset="{&quot;title&quot;:&quot;Intro&quot;,&quot;category&quot;:&quot;counter&quot;,&quot;reload&quot;:true,&quot;id&quot;:&quot;intro-16&quot;}">
            <div class="bg-layer bg-image novi-background"
                style="bottom: 13.6%; background-image: url(images/image-26-1920x772.jpg);"></div>
            <div class="container">
                <div class="context-dark">
                    <!-- Breadcrumb-->
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a class="breadcrumb-link" href="/">Home</a></li>
                        <li class="breadcrumb-item"><span class="breadcrumb-text ">Services</span></li>
                        <li class="breadcrumb-item"><a class="breadcrumb-link breadcrumb-active" href="#">On Page
                                SEO</a></li>

                    </ul>
                    <div class="row row-offset-xl novi-disabled">
                        <div class="col-lg-8 col-xl-7 col-xxl-9">
                            <h1>We will take care of your On-Page SEO, regardless of its level of complexity
                            </h1>
                            <h5>
                                We are not afraid of difficult tasks –<br class="d-none d-xs-block">
                                hundreds of our satisfied clients can prove that.
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="row row-30" style="margin-top: 10.6%;">
                    <div class="col-6 col-xs-5 col-md-4 col-lg-3">
                        <!-- Counter-->
                        <div class="counter counter-boxed">
                            <div class="counter-body">
                                <div class="counter-value h1"><span data-counter="">9</span><span
                                        class="counter-postfix">+</span>
                                </div>
                                <div class="counter-title">Team members</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-xs-5 col-md-4 col-lg-3">
                        <!-- Counter-->
                        <div class="counter counter-boxed counter-boxed-primary">
                            <div class="counter-body">
                                <div class="counter-value h1"><span data-counter="">300</span><span
                                        class="counter-postfix">+</span>
                                </div>
                                <div class="counter-title">Clients</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section section-lg bg-transparent novi-background" data-preset="{&quot;title&quot;:&quot;Who We Are&quot;,&quot;category&quot;:&quot;content 
            box&quot;,&quot;reload&quot;:false,&quot;id&quot;:&quot;who-we-are&quot;}">
            <div class="container">
                <h2>
                    On-Site SEO Code Optimization

                </h2>
                <div class="row row-20">
                    <div class="col-md-6">
                        <p>It is near impossible to find search engine optimization that offers the same level of code
                            optimization as Webilizerr. Optimizing websites is one of our core specialties, so
                            you’ll know that your site is in good hands. Your code optimization will entail first fixing
                            anything that is broken (this is an important part of the process, as it allows us to ensure
                            nothing is technically wrong with the site).Following this, we will optimize your page
                            titles, meta descriptions and meta keywords. </p>
                    </div>
                    <div class="col-md-6">
                        <p>
                            We will also take a look to make sure the search engines can index your content, no pages
                            are
                            being blocked, all links are being followed, and everything on the backend is overall in
                            top-notch condition for search engine indexing. We also look at advanced strategies such as
                            Schema.org, images, videos, sitemaps, robots.txt and more. Finally, we ensure that the
                            website abides by Google’s Quality Guidelines.</p>
                    </div>
                </div>
                <hr class="divider divider-dark divider-sm">

            </div>

        </section>
        {{#each .}}
        {{#each .}}
        {{#if id}}
        <section class="section section-lg overlay-dark-08 context-dark bg-image novi-background"
            style="background-image: linear-gradient(#171724 0%, transparent 51.86%), url(images/image-19-1920x1247.jpg )"
            data-preset="{&quot;title&quot;:&quot;Skills&quot;,&quot;category&quot;:&quot;infographics&quot;,&quot;reload&quot;:true,&quot;id&quot;:&quot;skills-2&quot;}">
            <div class="container">
                <h1 style=" text-transform: uppercase;margin: auto;width: 50%;">{{input.url}}</h1>

                <div class="row row-50 row-lg-80 row-xl-100 row-xxl-150 novi-disabled">
                    <div class="col-12">

                        <div class="row row-40 justify-content-lg-between novi-disabled">
                            <div class="col-md-5 animated fadeInUp"
                                data-animate="{&quot;class&quot;:&quot;fadeInUp&quot;}">
                                <h2>Your resaults do need attencion</h2>
                                <p>Optimizing your website through on-page and off-page SEO practices help grow organic
                                    traffic by implementing specific attributes on your website that search engine
                                    crawlers would deem worthy of authority, which in turn move you higher up on search
                                    engine result pages.

                                </p>
                                <p>The more search engines crawl your site and find useful content, correct backlinking,
                                    proper keyword usage and the like, the better a site ranks on search engines, which
                                    drives more traffic towards your site.</p>
                            </div>
                            <div class="col-md-7 col-lg-6 progress-linear-area">
                                <span class="badge-wrap"><span class="badge badge-primary">Your Results</span></span>
                                <!-- Linear progress bar-->
                                <div class="progress-linear progress-linear-lg progress-linear-shamrock-blue">
                                    <div class="progress-linear-inner">
                                        <div class="progress-linear-title">Total Result<span
                                                class="progress-linear-counter-wrap"> — <span
                                                    class="progress-linear-counter">{{output.scores.overall.grade}}</span>%</span>
                                        </div>
                                        <div class="progress-linear-body">
                                            <div class="progress-linear-bar" style="width: 0%;">
                                            </div>
                                        </div>
                                        {{!-- <div class="progress-linear-text">Many of the problems we face require creative
                                            approach and thinking.</div> --}}
                                    </div>
                                </div>
                                <!-- Linear progress bar-->
                                <div class="progress-linear progress-linear-lg progress-linear-blue-violet">
                                    <div class="progress-linear-inner">
                                        <div class="progress-linear-title">SEO<span
                                                class="progress-linear-counter-wrap"> — <span
                                                    class="progress-linear-counter">{{output.scores.seo.grade}}</span>%</span>
                                        </div>
                                        <div class="progress-linear-body">
                                            <div class="progress-linear-bar" style="width: 0%;"></div>
                                        </div>
                                        {{!-- <div class="progress-linear-text">Effective communication plays one of the
                                            primary roles in our work.</div> --}}
                                    </div>
                                </div>

                                <div class="progress-linear progress-linear-lg progress-linear-electric-violet">
                                    <div class="progress-linear-inner">
                                        <div class="progress-linear-title">Usability<span
                                                class="progress-linear-counter-wrap"> — <span
                                                    class="progress-linear-counter">{{output.scores.ui.grade}}</span>%</span>
                                        </div>
                                        <div class="progress-linear-body">
                                            <div class="progress-linear-bar" style="width: 0%;"></div>
                                        </div>
                                        {{!-- <div class="progress-linear-text">We carry out a vast amount of research to
                                            provide efficient solutions.</div> --}}
                                    </div>
                                </div>
                                <div class="progress-linear progress-linear-lg progress-linear-electric-violet">
                                    <div class="progress-linear-inner">
                                        <div class="progress-linear-title">Performance<span
                                                class="progress-linear-counter-wrap"> — <span
                                                    class="progress-linear-counter">{{output.scores.performance.grade}}</span>%</span>
                                        </div>
                                        <div class="progress-linear-body">
                                            <div class="progress-linear-bar" style="width: 0%;"></div>
                                        </div>
                                        {{!-- <div class="progress-linear-text">We carry out a vast amount of research to
                                            provide efficient solutions.</div> --}}
                                    </div>
                                </div>
                                <div class="progress-linear progress-linear-lg progress-linear-electric-violet">
                                    <div class="progress-linear-inner">
                                        <div class="progress-linear-title">Social<span
                                                class="progress-linear-counter-wrap"> — <span
                                                    class="progress-linear-counter">{{output.scores.social.grade}}</span>%</span>
                                        </div>
                                        <div class="progress-linear-body">
                                            <div class="progress-linear-bar" style="width: 0%;"></div>
                                        </div>
                                        {{!-- <div class="progress-linear-text">We carry out a vast amount of research to
                                            provide efficient solutions.</div> --}}
                                    </div>
                                </div><!-- Linear progress bar-->
                                <div class="progress-linear progress-linear-lg progress-linear-electric-violet">
                                    <div class="progress-linear-inner">
                                        <div class="progress-linear-title">Security<span
                                                class="progress-linear-counter-wrap"> — <span
                                                    class="progress-linear-counter">{{output.scores.security.grade}}</span>%</span>
                                        </div>
                                        <div class="progress-linear-body">
                                            <div class="progress-linear-bar" style="width: 0%;"></div>
                                        </div>
                                        {{!-- <div class="progress-linear-text">We carry out a vast amount of research to
                                            provide efficient solutions.</div> --}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {{/if}}
        {{/each}}
        {{/each}}
        <section class="section section-lg bg-transparent novi-background"
            data-preset="{&quot;title&quot;:&quot;Who We Are&quot;,&quot;category&quot;:&quot;content box&quot;,&quot;reload&quot;:false,&quot;id&quot;:&quot;who-we-are&quot;}">
            <div class="container">
                <h2>On-Site SEO Code Optimization
                </h2>
                <div class="row row-20">
                    <div class="col-md-6">
                        <p>It is near impossible to find search engine optimization that offers the same level of code
                            optimization as Webilizerr. Optimizing websites is one of our core specialties, so
                            you’ll know that your site is in good hands. Your code optimization will entail first fixing
                            anything that is broken (this is an important part of the process, as it allows us to ensure
                            nothing is technically wrong with the site).Following this, we will optimize your page
                            titles, meta descriptions and meta keywords. </p>
                    </div>
                    <div class="col-md-6">
                        <p>
                            We will also take a look to make sure the search engines can index your content, no pages
                            are
                            being blocked, all links are being followed, and everything on the backend is overall in
                            top-notch condition for search engine indexing. We also look at advanced strategies such as
                            Schema.org, images, videos, sitemaps, robots.txt and more. Finally, we ensure that the
                            website abides by Google’s Quality Guidelines.</p>
                    </div>
                </div>
            </div>

        </section>
        <section class="section section-lg bg-gradient-animated novi-background"
            data-preset='{"title":"Layouts","category":"tab, gallery, thumbnail","reload":true,"id":"layouts"}'>
            <div class="container-fluid">
                <h1 class="text-center" data-animate='{"class":"fadeInUp"}'>
                    We'll do an On-Page SEO on your website<br class="d-none d-xs-block">
                </h1>


                <section class="section section-lg bg-transparent" style="padding-top: 2%;"
                    data-preset="{&quot;title&quot;:&quot;Pricing Box Sample&quot;,&quot;category&quot;:&quot;price&quot;,&quot;reload&quot;:true,&quot;id&quot;:&quot;pricing-box-sample&quot;}">
                    <div class="container">
                        <h2 class="text-center"></h2>
                        <div class="plans">

                            <div class="plans-switch-container switch-container switch-container-1">
                                <div class="switch-inner">
                                    <div class="row row-30 align-items-end novi-disabled">

                                        <div class="col-lg-12">
                                            <div class="pricing pricing-box pricing-box-accent-secondary"
                                                style="width: auto;max-width: 1000px;">
                                                <div class="pricing-box-header">
                                                    <div class="pricing-box-label">One time payment</div>
                                                    <div class="pricing-box-title h3">Internal SEO</div>
                                                    <div class="pricing-box-subtitle lead">
                                                        Very important for every buisness
                                                    </div>
                                                    <div class="pricing-box-divider"></div>
                                                </div>
                                                <div class="pricing-box-body">
                                                    <div class="pricing-box-value">€299.90<span
                                                            class="pricing-box-postfix">/one time</span>
                                                    </div>
                                                    <div class="pricing-box-value-meta">What we will do for you...</div>
                                                    <div class="accordion-item accordion-table-4">
                                                        <div class="row">




                                                            <div class="col-sm-6 col-md-4 col-lg-6">
                                                                <!-- Icon box-->
                                                                <div class="icon-box">
                                                                    <span
                                                                        class="pricing-box-list-icon int-check-circle-filled novi-icon">
                                                                    </span>
                                                                    <div class="icon-box-text ">Title &
                                                                        Meta Tags Optimization
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6 col-md-4 col-lg-6">
                                                                <!-- Icon box-->
                                                                <div class="icon-box">
                                                                    <span
                                                                        class="pricing-box-list-icon int-check-circle-filled novi-icon"></span>
                                                                    <div class="icon-box-text">Website Structure &
                                                                        Navigation Optimization</div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6 col-md-4 col-lg-6">
                                                                <!-- Icon box-->
                                                                <div class="icon-box">
                                                                    <span
                                                                        class="pricing-box-list-icon int-check-circle-filled novi-icon"></span>
                                                                    <div class="icon-box-text">Content Optimization
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6 col-md-4 col-lg-6">
                                                                <!-- Icon box-->
                                                                <div class="icon-box">
                                                                    <span
                                                                        class="pricing-box-list-icon int-check-circle-filled novi-icon"></span>
                                                                    <div class="icon-box-text">Mobile Friendliness Check
                                                                        & Optimization
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6 col-md-4 col-lg-6">
                                                                <!-- Icon box-->
                                                                <div class="icon-box">
                                                                    <span
                                                                        class="pricing-box-list-icon int-check-circle-filled novi-icon"></span>
                                                                    <div class="icon-box-text">Internal Link Structure
                                                                        Optimization
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6 col-md-4 col-lg-6">
                                                                <!-- Icon box-->
                                                                <div class="icon-box">
                                                                    <span
                                                                        class="pricing-box-list-icon int-check-circle-filled novi-icon"></span>
                                                                    <div class="icon-box-text">Heading Tag Optimization
                                                                        (H1, H2, H3…)
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6 col-md-4 col-lg-6">
                                                                <!-- Icon box-->
                                                                <div class="icon-box">
                                                                    <span
                                                                        class="pricing-box-list-icon int-check-circle-filled novi-icon"></span>
                                                                    <div class="icon-box-text">Canonicalization/301
                                                                        Redirect Check & Fix
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6 col-md-4 col-lg-6">
                                                                <!-- Icon box-->
                                                                <div class="icon-box">
                                                                    <span
                                                                        class="pricing-box-list-icon int-check-circle-filled novi-icon"></span>
                                                                    <div class="icon-box-text">Schema Implementation
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6 col-md-4 col-lg-6">
                                                                <!-- Icon box-->
                                                                <div class="icon-box">
                                                                    <span
                                                                        class="pricing-box-list-icon int-check-circle-filled novi-icon"></span>
                                                                    <div class="icon-box-text">Image Optimization (ALT,
                                                                        Image Title, Name…)
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6 col-md-4 col-lg-6">
                                                                <!-- Icon box-->
                                                                <div class="icon-box">
                                                                    <span
                                                                        class="pricing-box-list-icon int-check-circle-filled novi-icon"></span>
                                                                    <div class="icon-box-text">Robots.txt File Creation
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6 col-md-4 col-lg-6">
                                                                <!-- Icon box-->
                                                                <div class="icon-box">
                                                                    <span
                                                                        class="pricing-box-list-icon int-check-circle-filled novi-icon"></span>
                                                                    <div class="icon-box-text">XML Sitemap Creation
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6 col-md-4 col-lg-6">
                                                                <!-- Icon box-->
                                                                <div class="icon-box">
                                                                    <span
                                                                        class="pricing-box-list-icon int-check-circle-filled novi-icon"></span>
                                                                    <div class="icon-box-text">Htaccess File Creation
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6 col-md-4 col-lg-6">
                                                                <!-- Icon box-->
                                                                <div class="icon-box">
                                                                    <span
                                                                        class="pricing-box-list-icon int-check-circle-filled novi-icon"></span>
                                                                    <div class="icon-box-text">URL Structure
                                                                        Optimization
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6 col-md-4 col-lg-6">
                                                                <!-- Icon box-->
                                                                <div class="icon-box">
                                                                    <span
                                                                        class="pricing-box-list-icon int-check-circle-filled novi-icon"></span>
                                                                    <div class="icon-box-text">Linking to Social
                                                                        Profiles
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6 col-md-4 col-lg-6">
                                                                <!-- Icon box-->
                                                                <div class="icon-box">
                                                                    <span
                                                                        class="pricing-box-list-icon int-check-circle-filled novi-icon"></span>
                                                                    <div class="icon-box-text">Facebook Pixel Setup
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6 col-md-4 col-lg-6">
                                                                <!-- Icon box-->
                                                                <div class="icon-box">
                                                                    <span
                                                                        class="pricing-box-list-icon int-check-circle-filled novi-icon"></span>
                                                                    <div class="icon-box-text">Analytics Implementation
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6 col-md-4 col-lg-6">
                                                                <!-- Icon box-->
                                                                <div class="icon-box">
                                                                    <span
                                                                        class="pricing-box-list-icon int-check-circle-filled novi-icon"></span>
                                                                    <div class="icon-box-text">Broken Links Optimization
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6 col-md-4 col-lg-6">
                                                                <!-- Icon box-->
                                                                <div class="icon-box">
                                                                    <span
                                                                        class="pricing-box-list-icon int-check-circle-filled novi-icon"></span>
                                                                    <div class="icon-box-text">Friendly URLs
                                                                        Optimization</div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6 col-md-4 col-lg-6">
                                                                <!-- Icon box-->
                                                                <div class="icon-box">
                                                                    <span
                                                                        class="pricing-box-list-icon int-check-circle-filled novi-icon"></span>
                                                                    <div class="icon-box-text">Favicon Creation</div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6 col-md-4 col-lg-6">
                                                                <!-- Icon box-->
                                                                <div class="icon-box">
                                                                    <span
                                                                        class="pricing-box-list-icon int-check-circle-filled novi-icon"></span>
                                                                    <div class="icon-box-text">iFrames Checkups</div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6 col-md-4 col-lg-6">
                                                                <!-- Icon box-->
                                                                <div class="icon-box">
                                                                    <span
                                                                        class="pricing-box-list-icon int-check-circle-filled novi-icon"></span>
                                                                    <div class="icon-box-text">Font Size Optimization
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6 col-md-4 col-lg-6">
                                                                <!-- Icon box-->
                                                                <div class="icon-box">
                                                                    <span
                                                                        class="pricing-box-list-icon int-check-circle-filled novi-icon"></span>
                                                                    <div class="icon-box-text">Tap Target Sizing
                                                                        Checkups</div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6 col-md-4 col-lg-6">
                                                                <!-- Icon box-->
                                                                <div class="icon-box">
                                                                    <span
                                                                        class="pricing-box-list-icon int-check-circle-filled novi-icon"></span>
                                                                    <div class="icon-box-text">Email Privacy
                                                                        Optimization</div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6 col-md-4 col-lg-6">
                                                                <!-- Icon box-->
                                                                <div class="icon-box">
                                                                    <span
                                                                        class="pricing-box-list-icon int-check-circle-filled novi-icon"></span>
                                                                    <div class="icon-box-text">Https Redirect
                                                                        Optimization</div>
                                                                </div>
                                                            </div>


                                                        </div>

                                                    </div>
                                                    </td>

                                                    </tr>

                                                    <a href="{{absoluteUrl}}/checkout?plan=3"
                                                        class="btn btn-block btn-lg pricing-box-btn btn-primary">Lets
                                                        Start!</a>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="switch-inner">
                                    <div class="row row-30 align-items-end novi-disabled">

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </section>
            </div>
        </section>


        {{> footer}}
    </div>
</body>

</html>