<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/utilities.css">
    <link rel="stylesheet" href="css/main.css">
    <title>Webilizerr Report</title>
</head>

<body data-gr-c-s-loaded="true" class="">
    {{#if status}}
    <div class="inner-body-wrapper">
        <nav id="mobile-nav" class="px-1 py-1">
            <img src="img/logo.png" alt="logo">
            <div class="hamburger">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <aside id="mobile-links" class="py-2 px-2">
                <div class="py-1">
                    <p class="c-l-w hov-c-w light"><a class="hov-dec-u" href="#">Home</a></p>
                </div>
                <hr>
                <ul class="py-1 nav-links">
                    <li class="r-m c-w active hov-c-w" data-nav="nav-overview">
                        <a class="hov-dec-u" href="#overview">Overview</a>
                    </li>
                    <li class="r-m c-l-w hov-c-w light" data-nav="nav-seo">
                        <div class="score-item-nav score-item-nav-green">10</div>

                        <a class="hov-dec-u" href="#seo">SEO</a>
                    </li>
                    <li class="r-m c-l-w hov-c-w light" data-nav="nav-usability">
                        <div class="score-item-nav score-item-nav-green">10</div>

                        <a class="hov-dec-u" href="#usability">Usability</a>
                    </li>
                    <li class="r-m c-l-w hov-c-w light" data-nav="nav-performance">
                        <div class="score-item-nav score-item-nav-green">10</div>

                        <a class="hov-dec-u" href="#performance">Performance</a>
                    </li>
                    <li class="r-m c-l-w hov-c-w light" data-nav="nav-social">
                        <div class="score-item-nav score-item-nav-green">10</div>

                        <a class="hov-dec-u" href="#social">Social</a>
                    </li>
                    <li class="r-m c-l-w hov-c-w light" data-nav="nav-security">
                        <div class="score-item-nav score-item-nav-green">10</div>

                        <a class="hov-dec-u" href="#security">Security</a>
                    </li>
                    <li class="r-m c-l-w hov-c-w light" data-nav="nav-technology">
                        <div class="score-item-nav score-item-nav-green">10</div>

                        <a class="hov-dec-u" href="#technology">Technology</a>
                    </li>
                    <li class="r-m c-l-w hov-c-w light" data-nav="nav-recommendations">

                        <a class="hov-dec-u" href="#recommendations">Recommendations</a></li>
                </ul>
                <hr>
                <div class="py-1">
                    <p class="c-l-w hov-c-w light"><a class="hov-dec-u" href="#">Site Crawl</a></p>
                </div>

            </aside>
        </nav>
        <nav id="desk-nav" class="py-1 px-1">

            <div>
                <a href="/"><img src="img/logo.png" alt="Logo"></a>

            </div>

            {{#if loggedIn}}
            <ul>
                <li class="mx-1"><a class="hov-c-b d-i-b">Scans Left: {{numOfScans}}</a></li>
                <li class="mx-2"><a href="/my-reports" class="hov-c-b d-i-b">My Reports</a></li>
                <li class="mx-2"><a href="/logout"
                        class="color-b brd-b brd-r-5 py-0-5 px-1-5 d-i-b hov-c-w hov-bg-b">Logout</a></li>
                </li>

                {{else}}
                <li class="mx-2"><a href="/login" class="hov-c-b d-i-b">Login</a></li>
                <li class="mx-2"><a href="/register"
                        class="color-b brd-b brd-r-5 py-0-5 px-1-5 d-i-b hov-c-w hov-bg-b">Register</a></li>
                </li>


            </ul>
            {{/if}}


            <aside class="t-center premium bg-b py-2 px-2">
                <a href="../pricing-scans">
                    <div class="premium-icon" style="margin-top: 50%;">
                        <img src="img/angle.png" alt="Premium">
                    </div>
                    <p class="premium-btn c-l-w hov-c-w myt-1">More Scans</p>
                </a>
                <a href="#">
                    <div class="premium-icon" style="margin-top: 50%;">
                        <img src="img/premium.png" alt="Premium">
                    </div>
                    <p class="premium-btn c-l-w hov-c-w myt-1">Service</p>
                </a>
            </aside>
            <aside class="section-nav py-2 px-2 nav-links">
                <li class="c-w active hov-c-w" data-nav="nav-overview"><a class="hov-dec-u"
                        href="#overview">Overview</a></li>
                <li class="r-m c-l-w hov-c-w light" data-nav="nav-seo">
                    <a class="hov-dec-u" href="#seo">SEO</a>
                </li>
                <ul class="sub-nav">
                    {{#each reportData.data.seoSection.subSections}}
                    {{#ifeq this.isBlurred true}}
                    <li>
                        <div class="score-item-nav">
                            ?
                        </div>
                        <a href="#{{this.key}}">{{this.friendlyName}}</a>
                    </li>
                    {{else ifeq this.key 'title'}}
                    <li class="active">
                        <div class="score-item-nav {{this.navPassedClass}}">
                            {{this.circleTextDisplay}}
                        </div>
                        <a href="#{{this.key}}">{{this.friendlyName}}</a>
                    </li>
                    {{else}}
                    <li>
                        {{#if this.passed}}
                        <div class="score-item-nav {{this.navPassedClass}}">
                            {{this.circleTextDisplay}}
                        </div>
                        {{else}}
                        <div class="score-item-nav score-item-nav-orange">
                            I
                        </div>
                        {{/if}}
                        <a href="#{{this.key}}">{{this.friendlyName}}</a>
                    </li>
                    {{/ifeq}}
                    {{/each}}
                </ul>
                <li class="r-m c-l-w hov-c-w light" data-nav="nav-usability">
                    <a class="hov-dec-u" href="#usability">Usability</a>
                </li>
                <ul class="sub-nav">
                    {{#each reportData.data.uiSection.subSections}}
                    {{#ifeq this.isBlurred true}}
                    <li>
                        <div class="score-item-nav">
                            ?
                        </div>
                        <a href="#{{this.key}}">{{this.friendlyName}}</a>
                    </li>
                    {{else}}
                    <li>
                        {{#if this.passed}}
                        <div class="score-item-nav {{this.navPassedClass}}">
                            {{this.circleTextDisplay}}
                        </div>
                        {{else}}
                        <div class="score-item-nav score-item-nav-orange">
                            I
                        </div>
                        {{/if}}
                        <a href="#{{this.key}}">{{this.friendlyName}}</a>
                    </li>
                    {{/ifeq}}
                    {{/each}}
                </ul>
                <li class="r-m c-l-w hov-c-w light" data-nav="nav-performance">
                    <a class="hov-dec-u" href="#performance">Performance</a>
                </li>
                <ul class="sub-nav">
                    {{#each reportData.data.performanceSection.subSections}}
                    {{#ifeq this.isBlurred true}}
                    <li>
                        <div class="score-item-nav">
                            ?
                        </div>
                        <a href="#{{this.key}}">{{this.friendlyName}}</a>
                    </li>
                    {{else}}
                    <li>
                        {{#if this.passed}}
                        <div class="score-item-nav {{this.navPassedClass}}">
                            {{this.circleTextDisplay}}
                        </div>
                        {{else}}
                        <div class="score-item-nav score-item-nav-orange">
                            I
                        </div>
                        {{/if}}
                        <a href="#{{this.key}}">{{this.friendlyName}}</a>
                    </li>
                    {{/ifeq}}
                    {{/each}}
                </ul>
                <li class="r-m c-l-w hov-c-w light" data-nav="nav-social">
                    <a class="hov-dec-u" href="#social">Social</a>
                </li>
                <ul class="sub-nav">
                    {{#each reportData.data.socialSection.subSections}}
                    {{#ifeq this.isBlurred true}}
                    <li>
                        <div class="score-item-nav">
                            ?
                        </div>
                        <a href="#{{this.key}}">{{this.friendlyName}}</a>
                    </li>
                    {{else}}
                    <li>
                        {{#if this.passed}}
                        <div class="score-item-nav {{this.navPassedClass}}">
                            {{this.circleTextDisplay}}
                        </div>
                        {{else}}
                        <div class="score-item-nav score-item-nav-orange">
                            I
                        </div>
                        {{/if}}
                        <a href="#{{this.key}}">{{this.friendlyName}}</a>
                    </li>
                    {{/ifeq}}
                    {{/each}}
                </ul>
                <li class="r-m c-l-w hov-c-w light" data-nav="nav-security">
                    <a class="hov-dec-u" href="#security">Security</a>
                </li>
                <ul class="sub-nav">
                    {{#each reportData.data.securitySection.subSections}}
                    {{#ifeq this.isBlurred true}}
                    <li>
                        <div class="score-item-nav">
                            ?
                        </div>
                        <a href="#{{this.key}}">{{this.friendlyName}}</a>
                    </li>
                    {{else}}
                    <li>
                        {{#if this.passed}}
                        <div class="score-item-nav {{this.navPassedClass}}">
                            {{this.circleTextDisplay}}
                        </div>
                        {{else}}
                        <div class="score-item-nav score-item-nav-orange">
                            I
                        </div>
                        {{/if}}
                        <a href="#{{this.key}}">{{this.friendlyName}}</a>
                    </li>
                    {{/ifeq}}
                    {{/each}}
                </ul>
                <li class="r-m c-l-w hov-c-w light" data-nav="nav-technology">
                    <a class="hov-dec-u" href="#technology">Technology</a>
                </li>
                <ul class="sub-nav">
                    {{#each reportData.data.technologySection.subSections}}
                    {{#ifeq this.isBlurred true}}
                    <li>
                        <div class="score-item-nav">
                            ?
                        </div>
                        <a href="#{{this.key}}">{{this.friendlyName}}</a>
                    </li>
                    {{else}}
                    <li>
                        <div class="score-item-nav score-item-nav-orange">
                            I
                        </div>
                        <a href="#{{this.key}}">{{this.friendlyName}}</a>
                    </li>
                    {{/ifeq}}
                    {{/each}}
                </ul>
                <li class="c-l-w hov-c-w light" data-nav="nav-recommendations"><a class="hov-dec-u"
                        href="#recommendations">Recommendations</a></li>
            </aside>
        </nav>
        <div class="inner-body py-4 px-3">
            <div>
                <div class="item-section">Performance</div>
            </div>
            <h1>Audit Results for {{reportData.url}} </h1>
            <header class="myt-2 section-wrapper" id="overview" data-section="overview">
                <div class="py-2 px-1">
                    <svg viewBox="0 0 36 36" class="circular-chart green large-chart">
                        <path class="circle-bg" d="M18 2.0845
                    a 15.9155 15.9155 0 0 1 0 31.831
                    a 15.9155 15.9155 0 0 1 0 -31.831"></path>
                        <path class="circle" stroke-dasharray="{{reportData.overallSection.score}}, 100" d="M18 2.0845
                    a 15.9155 15.9155 0 0 1 0 31.831
                    a 15.9155 15.9155 0 0 1 0 -31.831"></path>
                        <text x="18" y="20.35" class="percentage">{{reportData.overallSection.score}}%</text>
                    </svg>
                    <h2 class="t-center my-1">{{reportData.overall.title}}</h2>
                    <a href="#recommendations">
                        <div class="box-wrapper" style="width: 100%;">
                            <div class="info">
                                <div><img src="img/info2.png" alt="info"></div>
                                <div>
                                    <p>You have {{reportData.recommendations.length}} improvements recommended</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="py-2 px-1">
                    <div class="pc-wrapper">

                        <img class="mxw-450" src="img/pc.png" alt="pc">
                        <div class="imac">
                            <img src="{{reportData.screenshot}}" alt="imac">
                        </div>
                    </div>
                </div>
            </header>
            <section class="section px-3 py-2 overview-all myt-2 t-center">
                <div>
                    <h2>Seo</h2>
                    <div class="single-chart">
                        <svg viewBox="0 0 36 36"
                            class="m-a myt-1 circular-chart {{reportData.data.seoSection.colorClass}}">
                            <path class="circle-bg" d="M18 2.0845
                        a 15.9155 15.9155 0 0 1 0 31.831
                        a 15.9155 15.9155 0 0 1 0 -31.831"></path>
                            <path class="circle"
                                stroke-dasharray="{{reportData.data.seoSection.friendlyComputedScore}}, 100" d="M18 2.0845
                        a 15.9155 15.9155 0 0 1 0 31.831
                        a 15.9155 15.9155 0 0 1 0 -31.831"></path>
                            <text x="18" y="20.35" class="percentage">
                                {{reportData.data.seoSection.friendlyComputedScore}}%
                            </text>
                        </svg>
                    </div>
                </div>
                <div>
                    <h2>Usability</h2>
                    <div class="single-chart">
                        <svg viewBox="0 0 36 36"
                            class="m-a myt-1 circular-chart {{reportData.data.uiSection.colorClass}}">
                            <path class="circle-bg" d="M18 2.0845
                        a 15.9155 15.9155 0 0 1 0 31.831
                        a 15.9155 15.9155 0 0 1 0 -31.831"></path>
                            <path class="circle"
                                stroke-dasharray="{{reportData.data.uiSection.friendlyComputedScore}}, 100" d="M18 2.0845
                        a 15.9155 15.9155 0 0 1 0 31.831
                        a 15.9155 15.9155 0 0 1 0 -31.831"></path>
                            <text x="18" y="20.35" class="percentage">
                                {{reportData.data.uiSection.friendlyComputedScore}}%
                            </text>
                        </svg>
                    </div>
                </div>
                <div>
                    <h2>Performance</h2>
                    <div class="single-chart">
                        <svg viewBox="0 0 36 36"
                            class="m-a myt-1 circular-chart {{reportData.data.performanceSection.colorClass}}">
                            <path class="circle-bg" d="M18 2.0845
                        a 15.9155 15.9155 0 0 1 0 31.831
                        a 15.9155 15.9155 0 0 1 0 -31.831"></path>
                            <path class="circle"
                                stroke-dasharray="{{reportData.data.performanceSection.friendlyComputedScore}}, 100" d="M18 2.0845
                        a 15.9155 15.9155 0 0 1 0 31.831
                        a 15.9155 15.9155 0 0 1 0 -31.831"></path>
                            <text x="18" y="20.35" class="percentage">
                                {{reportData.data.performanceSection.friendlyComputedScore}}%
                            </text>
                        </svg>
                    </div>
                </div>
                <div>
                    <h2>Social</h2>
                    <div class="single-chart">
                        <svg viewBox="0 0 36 36"
                            class="m-a myt-1 circular-chart {{reportData.data.socialSection.colorClass}}">
                            <path class="circle-bg" d="M18 2.0845
                        a 15.9155 15.9155 0 0 1 0 31.831
                        a 15.9155 15.9155 0 0 1 0 -31.831"></path>
                            <path class="circle"
                                stroke-dasharray="{{reportData.data.socialSection.friendlyComputedScore}}, 100" d="M18 2.0845
                        a 15.9155 15.9155 0 0 1 0 31.831
                        a 15.9155 15.9155 0 0 1 0 -31.831"></path>
                            <text x="18" y="20.35" class="percentage">
                                {{reportData.data.socialSection.friendlyComputedScore}}%
                            </text>
                        </svg>
                    </div>
                </div>
                <div>
                    <h2>Security</h2>
                    <div class="single-chart">
                        <svg viewBox="0 0 36 36"
                            class="m-a myt-1 circular-chart {{reportData.data.securitySection.colorClass}}">
                            <path class="circle-bg" d="M18 2.0845
                        a 15.9155 15.9155 0 0 1 0 31.831
                        a 15.9155 15.9155 0 0 1 0 -31.831"></path>
                            <path class="circle"
                                stroke-dasharray="{{reportData.data.securitySection.friendlyComputedScore}}, 100" d="M18 2.0845
                        a 15.9155 15.9155 0 0 1 0 31.831
                        a 15.9155 15.9155 0 0 1 0 -31.831"></path>
                            <text x="18" y="20.35" class="percentage">
                                {{reportData.data.securitySection.friendlyComputedScore}}%
                            </text>
                        </svg>
                    </div>
                </div>
            </section>
            <div class="section-title myt-2 t-center py-2 px-1">
                <h2>Seo</h2>
            </div>
            <section class="section-body px-3 myt-2 section-wrapper" id="seo" data-section="seo">
                <div class="section-average py-3">
                    <div class="single-chart">
                        <svg viewBox="0 0 36 36" class="circular-chart {{reportData.data.seoSection.colorClass}}">
                            <path class="circle-bg" d="M18 2.0845
                    a 15.9155 15.9155 0 0 1 0 31.831
                    a 15.9155 15.9155 0 0 1 0 -31.831"></path>
                            <path class="circle"
                                stroke-dasharray="{{reportData.data.seoSection.friendlyComputedScore}}, 100" d="M18 2.0845
                    a 15.9155 15.9155 0 0 1 0 31.831
                    a 15.9155 15.9155 0 0 1 0 -31.831"></path>
                            <text x="18" y="20.35"
                                class="percentage">{{reportData.data.seoSection.friendlyComputedScore}}%</text>
                        </svg>
                    </div>
                    <div>
                        <h4>{{reportData.data.seoSection.title}}</h4>
                        <p class="c-g">
                            {{reportData.data.seoSection.description}}
                        </p>
                    </div>
                </div>
                {{#each reportData.data.seoSection.subSections}}
                {{#ifeq this.isBlurred true}}
                {{> blurred-subsection}}
                {{else ifeq this.key 'headers'}}
                {{> header-subsection}}
                {{else ifeq this.key 'title'}}
                {{> title-subsection}}
                {{else ifeq this.key 'keywords'}}
                {{> keywords-subsection}}
                {{else ifeq this.key 'backlinks'}}
                {{> backlinks-subsection}}
                {{else ifeq this.key 'contentLength'}}
                {{> contentLength-subsection}}
                {{else ifeq this.key 'description'}}
                {{> description-subsection}}
                {{else ifeq this.key 'imageAlt'}}
                {{> imageAlt-subsection}}
                {{else ifeq this.key 'robotsTxt'}}
                {{> robotsTxt-subsection}}
                {{else ifeq this.key 'analytics'}}
                {{> analytics-subsection}}
                {{else ifeq this.key 'onPageLinks'}}
                {{> on-page-subsection}}
                {{else ifeq this.passed null}}

                {{else}}
                {{> default-seo-subsection}}
                {{/ifeq}}
                {{/each}}
            </section>
            <div class="section-title myt-2 t-center py-1 px-1">
                <h2>Usability</h2>
            </div>
            <section class="section-body px-3 myt-2 section-wrapper" id="usability" data-section="usability">
                <div class="section-average py-3">
                    <div class="single-chart">
                        <svg viewBox="0 0 36 36" class="circular-chart {{reportData.data.seoSection.colorClass}}">
                            <path class="circle-bg" d="M18 2.0845
                    a 15.9155 15.9155 0 0 1 0 31.831
                    a 15.9155 15.9155 0 0 1 0 -31.831"></path>
                            <path class="circle"
                                stroke-dasharray="{{reportData.data.uiSection.friendlyComputedScore}}, 100" d="M18 2.0845
                    a 15.9155 15.9155 0 0 1 0 31.831
                    a 15.9155 15.9155 0 0 1 0 -31.831"></path>
                            <text x="18" y="20.35"
                                class="percentage">{{reportData.data.uiSection.friendlyComputedScore}}%</text>
                        </svg>
                    </div>
                    <div>
                        <h4>
                            {{reportData.data.uiSection.title}}
                        </h4>
                        <p class="c-g">
                            {{reportData.data.uiSection.description}}
                        </p>
                    </div>
                </div>
                {{#each reportData.data.uiSection.subSections}}
                {{#ifeq this.isBlurred true}}
                {{> blurred-subsection}}
                {{else ifeq this.key 'deviceRendering'}}
                {{> device-rendering-subsection}}
                {{else}}
                {{> default-seo-subsection}}
                {{/ifeq}}
                {{/each}}
            </section>
            <div class="section-title t-center py-1 px-1 myt-2">
                <h2>Performance Results</h2>
            </div>
            <section class="section-body px-3 myt-2 section-wrapper" id="performance" data-section="performance">
                <div class="section-average py-3">
                    <div class="single-chart">
                        <svg viewBox="0 0 36 36"
                            class="circular-chart {{reportData.data.performanceSection.colorClass}}">
                            <path class="circle-bg" d="M18 2.0845
                    a 15.9155 15.9155 0 0 1 0 31.831
                    a 15.9155 15.9155 0 0 1 0 -31.831"></path>
                            <path class="circle"
                                stroke-dasharray="{{reportData.data.performanceSection.friendlyComputedScore}}, 100" d="M18 2.0845
                    a 15.9155 15.9155 0 0 1 0 31.831
                    a 15.9155 15.9155 0 0 1 0 -31.831"></path>
                            <text x="18" y="20.35"
                                class="percentage">{{reportData.data.performanceSection.friendlyComputedScore}}%</text>
                        </svg>
                    </div>
                    <div>
                        <h4>
                            {{reportData.data.performanceSection.title}}
                        </h4>
                        <p class="c-g">
                            {{reportData.data.performanceSection.description}}
                        </p>
                    </div>
                </div>
                {{#each reportData.data.performanceSection.subSections}}
                {{#ifeq this.isBlurred true}}
                {{> blurred-subsection}}
                {{else ifeq this.key 'serverResponseTime'}}
                {{> response-time-subsection}}
                {{else ifeq this.key 'pageSize'}}
                {{> page-size-subsection}}
                {{else ifeq this.key 'numberOfResources'}}
                {{> resource-number-subsection}}
                {{else ifeq this.passed null}}

                {{else}}
                {{> default-seo-subsection}}
                {{/ifeq}}
                {{/each}}
            </section>
            <div class="section-title t-center py-1 px-1 myt-2">
                <h2>Social Results</h2>
            </div>
            <section class="section-body px-3 myt-2 section-wrapper" id="social" data-section="social">
                <div class="section-average py-3">
                    <div class="single-chart">
                        <svg viewBox="0 0 36 36" class="circular-chart {{reportData.data.socialSection.colorClass}}">
                            <path class="circle-bg" d="M18 2.0845
                a 15.9155 15.9155 0 0 1 0 31.831
                a 15.9155 15.9155 0 0 1 0 -31.831"></path>
                            <path class="circle"
                                stroke-dasharray="{{reportData.data.socialSection.friendlyComputedScore}}, 100" d="M18 2.0845
                a 15.9155 15.9155 0 0 1 0 31.831
                a 15.9155 15.9155 0 0 1 0 -31.831"></path>
                            <text x="18" y="20.35"
                                class="percentage">{{reportData.data.socialSection.friendlyComputedScore}}%</text>
                        </svg>
                    </div>
                    <div>
                        <h4>{{reportData.data.socialSection.title}}</h4>
                        <p class="c-g">
                            {{reportData.data.socialSection.description}}
                        </p>
                    </div>
                </div>
                {{#each reportData.data.socialSection.subSections}}
                {{#ifeq this.isBlurred true}}
                {{> blurred-subsection}}
                {{else ifeq this.key 'twitterTags'}}
                {{> twitter-tags-subsection}}
                {{else ifeq this.key 'facebookPixel'}}
                {{> facebookPixel-subsection}}
                {{else ifeq this.key 'openGraphTags'}}
                {{> openGraphTags-subsection}}
                {{else ifeq this.key 'twitterActivity'}}
                {{> twitter-follower-subsection}}
                {{else ifeq this.passed null}}

                {{else}}
                {{> default-seo-subsection}}
                {{/ifeq}}
                {{/each}}
            </section>
            <div class="section-title t-center py-1 px-1 myt-2">
                <h2>Security</h2>
            </div>
            <section class="section-body px-3 myt-2 section-wrapper" id="security" data-section="security">
                <div class="section-average py-3">
                    <div class="single-chart">
                        <svg viewBox="0 0 36 36" class="circular-chart {{reportData.data.securitySection.colorClass}}">
                            <path class="circle-bg" d="M18 2.0845
                    a 15.9155 15.9155 0 0 1 0 31.831
                    a 15.9155 15.9155 0 0 1 0 -31.831"></path>
                            <path class="circle"
                                stroke-dasharray="{{reportData.data.securitySection.friendlyComputedScore}}, 100" d="M18 2.0845
                    a 15.9155 15.9155 0 0 1 0 31.831
                    a 15.9155 15.9155 0 0 1 0 -31.831"></path>
                            <text x="18" y="20.35"
                                class="percentage">{{reportData.data.securitySection.friendlyComputedScore}}%</text>
                        </svg>
                    </div>
                    <div>
                        <h4>{{reportData.data.securitySection.title}}</h4>
                        <p class="c-g">
                            {{reportData.data.securitySection.description}}
                        </p>
                    </div>
                </div>
                {{#each reportData.data.securitySection.subSections}}
                {{#ifeq this.isBlurred true}}
                {{> blurred-subsection}}
                {{else ifeq this.key 'malware'}}
                {{> malware-subsection}}
                {{else ifeq this.passed null}}

                {{else}}
                {{> default-seo-subsection}}
                {{/ifeq}}
                {{/each}}
            </section>
            <div class="section-title t-center py-1 px-1 myt-2">
                <h2>Technology</h2>
            </div>
            <section class="section-body px-3 myt-2 section-wrapper" id="technology" data-section="technology">
                <div class="section-average py-3">

                    <div>
                        <h4>Technology Results</h4>
                        <p class="c-g">
                            Here are your technology information on you page. They dont count for SEO ranking.
                        </p>
                    </div>
                </div>
                {{#each reportData.data.technologySection.subSections}}
                {{#ifeq this.isBlurred true}}
                {{> blurred-subsection}}
                {{else ifeq this.key 'technologies'}}
                {{> technologies-subsection}}
                {{else}}
                {{> default-tech-subsection}}
                {{/ifeq}}
                {{/each}}
            </section>
            <div class="section-title t-center py-1 px-1 myt-2">
                <h2>Recommendations</h2>
            </div>
            <section class="section-body px-3 myt-2 section-wrapper" id="recommendations"
                data-section="recommendations">
                {{#each reportData.recommendations}}
                <div class="rec-item py-1">
                    <div style="width: 50%;text-align: left;display: initial;margin-left: 10%;" class="num-title">
                        <div class="item-num item-num-red">
                            <p>{{this.priority}}</p>
                        </div>
                        <div>
                            <h3>{{this.recommendation}}</h3>
                        </div>
                    </div>
                    <div class="rec-i">
                        <div class="item-section">{{this.section}}</div>
                    </div>
                </div>
                <hr class="section-line">

                {{/each}}
            </section>
        </div>
    </div>
    <script src="js/app.js"></script>

    {{/if}}
</body>

</html>