<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/utilities.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="../components/base/alerts.css">

    <title>Webilizerr Report</title>
</head>

<body data-gr-c-s-loaded="true" class="">

    {{#if data.status}}
    {{#if message.success}}
    <div class="row justify-content-center alertCST">
        <div>
            <div class="close-button-wrapper">
                <div class="close-button alertCST-close"></div>
            </div>
            <div class="snackbar snackbar-success">
                <div class="snackbar-inner">
                    <div class="snackbar-title">
                        <span class="alertCST-text">✔</span>
                        <span class="alertCST-text"> {{{message.success}}} </span>
                    </div>
                </div>
            </div>

        </div>
    </div>
    {{/if}}
    {{#if message.warning}}
    <div class="row justify-content-center alertCST">
        <div>
            <div class="close-button-wrapper">
                <div class="close-button alertCST-close"></div>
            </div>
            <div class="snackbar snackbar-warning">
                <div class="snackbar-inner">
                    <div class="snackbar-title">
                        <span class="alertCST-text">✘</span>
                        <span class="alertCST-text"> {{{message.warning}}} </span>
                    </div>
                </div>
            </div>

        </div>
    </div>
    {{/if}}
    {{#if message.error}}
    <div class="row justify-content-center alertCST">
        <div>
            <div class="close-button-wrapper">
                <div class="close-button alertCST-close"></div>
            </div>
            <div class="snackbar snackbar-danger">
                <div class="snackbar-inner">
                    <div class="snackbar-title">
                        <span class="alertCST-text">✘</span>
                        <span class="alertCST-text"> {{{message.error}}} </span>
                    </div>
                </div>
            </div>

        </div>
    </div>
    {{/if}}



    <div class="inner-body-wrapper">
        <nav id="mobile-nav" class="px-1 py-1">
            <img src="img/logo.png" alt="logo">
            <div class="hamburger">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <aside id="mobile-links" class="py-2 px-2">
                <div class="py-1">
                    <p class="c-l-w hov-c-w light"><a class="hov-dec-u" href="#">Home</a></p>
                </div>
                <hr>

                <ul class="py-1 nav-links">
                    <li class="r-m c-w active hov-c-w" data-nav="nav-overview">
                        <a class="hov-dec-u" href="#overview">Overview</a>
                    </li>
                    <li class="r-m c-l-w hov-c-w light" data-nav="nav-seo">
                        <div class="score-item-nav score-item-nav-green">10</div>

                        <a class="hov-dec-u" href="#seo">SEO</a>
                    </li>
                    <li class="r-m c-l-w hov-c-w light" data-nav="nav-usability">
                        <div class="score-item-nav score-item-nav-green">10</div>

                        <a class="hov-dec-u" href="#usability">Usability</a>
                    </li>
                    <li class="r-m c-l-w hov-c-w light" data-nav="nav-performance">
                        <div class="score-item-nav score-item-nav-green">10</div>

                        <a class="hov-dec-u" href="#performance">Performance</a>
                    </li>
                    <li class="r-m c-l-w hov-c-w light" data-nav="nav-social">
                        <div class="score-item-nav score-item-nav-green">10</div>

                        <a class="hov-dec-u" href="#social">Social</a>
                    </li>
                    <li class="r-m c-l-w hov-c-w light" data-nav="nav-security">
                        <div class="score-item-nav score-item-nav-green">10</div>

                        <a class="hov-dec-u" href="#security">Security</a>
                    </li>
                    <li class="r-m c-l-w hov-c-w light" data-nav="nav-technology">
                        <div class="score-item-nav score-item-nav-green">10</div>

                        <a class="hov-dec-u" href="#technology">Technology</a>
                    </li>
                    <li class="r-m c-l-w hov-c-w light" data-nav="nav-recommendations">

                        <a class="hov-dec-u" href="#recommendations">Recommendations</a></li>
                </ul>
                <hr>
                <div class="py-1">
                    <p class="c-l-w hov-c-w light"><a class="hov-dec-u" href="#">Site Crawl</a></p>
                </div>

            </aside>
        </nav>
        <nav id="desk-nav" class="py-1 px-1">

            <div>
                <a href="/"><img src="img/logo.png" alt="Logo"></a>

            </div>

            {{#if loggedIn}}
            <ul>
                <li class="mx-1"><a class="hov-c-b d-i-b">Scans Left: {{numOfScans}}</a></li>
                <li class="mx-2"><a href="/my-reports" class="hov-c-b d-i-b">My Reports</a></li>
                <li class="mx-2"><a href="/logout"
                        class="color-b brd-b brd-r-5 py-0-5 px-1-5 d-i-b hov-c-w hov-bg-b">Logout</a></li>
                </li>

                {{else}}
                {{!-- <li class="mx-2"></li>
                <li class="mx-2">
                    <a href="/login" class="color-b brd-b brd-r-5 py-0-5 px-1-5 d-i-b hov-c-w hov-bg-b">Login
                    </a>
                    <a href="/register" class="color-b brd-b brd-r-5 py-0-5 px-1-5 d-i-b hov-c-w hov-bg-b">Register
                    </a>
                </li> --}}


            </ul>
            {{/if}}


            <aside class="t-center premium bg-b py-2 px-2">
                <a href="../pricing-scans">
                    <div class="premium-icon" style="margin-top: 50%;">
                        <img src="img/angle.png" alt="Premium">
                    </div>
                    <p class="premium-btn c-l-w hov-c-w myt-1">Buy Scans</p>
                </a>
                <a href="../on-page-seo">
                    <div class="premium-icon" style="margin-top: 50%;">
                        <img src="img/angle.png" alt="Premium">
                    </div>
                    <p class="premium-btn c-l-w hov-c-w myt-1">Fix My Site</p>
                </a>
                {{!-- <a href="../pricing-service">
                    <div class="premium-icon" style="margin-top: 50%;">
                        <img src="img/premium.png" alt="Premium">
                    </div>
                    <p class="premium-btn c-l-w hov-c-w myt-1">Service</p>
                </a> --}}
            </aside>
            <aside class="section-nav py-2 px-2 nav-links" {{#ifeq data.blurr true}}
                style="filter: blur(8px);-webkit-filter: blur(8px);" {{/ifeq}}>
                <li class="c-w active hov-c-w" data-nav="nav-overview"><a class="hov-dec-u"
                        href="#overview">Overview</a></li>
                <li class="r-m c-l-w hov-c-w light" data-nav="nav-seo">
                    <a class="hov-dec-u" href="#seo">SEO</a>
                </li>
                <ul class="sub-nav">

                    {{#each data.reportData.data.seoSection.subSections}}
                    <li>
                        <div class="score-item-nav {{this.passedClass}}">
                            <p style="font-size: 0.85rem;">{{this.circleTextDisplay}}</p>
                        </div>
                        <a href="#{{this.key}}">{{this.friendlyName}}</a>
                    </li>
                    {{else ifeq this.key 'title'}}
                    <li class="active">
                        <div class="score-item-nav {{this.passedClass}}">
                            <p style="font-size: 0.85rem;">{{this.circleTextDisplay}}</p>
                        </div>
                        <a href="#{{this.key}}">{{this.friendlyName}}</a>
                    </li>
                    {{else}}
                    <li>
                        <div class="score-item-nav {{this.passedClass}}">
                            <p style="font-size: 0.85rem;">{{this.circleTextDisplay}}</p>
                        </div>

                        <a href="#{{this.key}}">{{this.friendlyName}}</a>
                    </li>
                    {{/each}}

                </ul>
                <li class="r-m c-l-w hov-c-w light" data-nav="nav-usability">
                    <a class="hov-dec-u" href="#usability">Usability</a>
                </li>
                <ul class="sub-nav">
                    {{#each data.reportData.data.uiSection.subSections}}
                    {{#ifeq this.isBlurred true}}
                    <li>
                        <div class="score-item-nav">
                            ?
                        </div>
                        <a href="#{{this.key}}">{{this.friendlyName}}</a>
                    </li>
                    {{else}}
                    <li>
                        <div class="score-item-nav {{this.passedClass}}">
                            <p style="font-size: 0.85rem;">{{this.circleTextDisplay}}</p>
                        </div>

                        <a href="#{{this.key}}">{{this.friendlyName}}</a>
                    </li>
                    {{/ifeq}}
                    {{/each}}
                </ul>
                <li class="r-m c-l-w hov-c-w light" data-nav="nav-performance">
                    <a class="hov-dec-u" href="#performance">Performance</a>
                </li>
                <ul class="sub-nav">
                    {{#each data.reportData.data.performanceSection.subSections}}
                    {{#ifeq this.isBlurred true}}
                    <li>
                        <div class="score-item-nav">
                            ?
                        </div>
                        <a href="#{{this.key}}">{{this.friendlyName}}</a>
                    </li>
                    {{else}}
                    <li>
                        <div class="score-item-nav {{this.passedClass}}">
                            <p style="font-size: 0.85rem;">{{this.circleTextDisplay}}</p>
                        </div>

                        <a href="#{{this.key}}">{{this.friendlyName}}</a>
                    </li>
                    {{/ifeq}}
                    {{/each}}
                </ul>
                <li class="r-m c-l-w hov-c-w light" data-nav="nav-social">
                    <a class="hov-dec-u" href="#social">Social</a>
                </li>
                <ul class="sub-nav">
                    {{#each data.reportData.data.socialSection.subSections}}
                    {{#ifeq this.isBlurred true}}
                    <li>
                        <div class="score-item-nav">
                            ?
                        </div>
                        <a href="#{{this.key}}">{{this.friendlyName}}</a>
                    </li>
                    {{else}}
                    <li>
                        <div class="score-item-nav {{this.passedClass}}">
                            <p style="font-size: 0.85rem;">{{this.circleTextDisplay}}</p>
                        </div>

                        <a href="#{{this.key}}">{{this.friendlyName}}</a>
                    </li>
                    {{/ifeq}}
                    {{/each}}
                </ul>
                <li class="r-m c-l-w hov-c-w light" data-nav="nav-security">
                    <a class="hov-dec-u" href="#security">Security</a>
                </li>
                <ul class="sub-nav">
                    {{#each data.reportData.data.securitySection.subSections}}
                    {{#ifeq this.isBlurred true}}
                    <li>
                        <div class="score-item-nav">
                            ?
                        </div>
                        <a href="#{{this.key}}">{{this.friendlyName}}</a>
                    </li>
                    {{else}}
                    <li>
                        <div class="score-item-nav {{this.passedClass}}">
                            <p style="font-size: 0.85rem;">{{this.circleTextDisplay}}</p>
                        </div>

                        <a href="#{{this.key}}">{{this.friendlyName}}</a>
                    </li>
                    {{/ifeq}}
                    {{/each}}
                </ul>
                <li class="r-m c-l-w hov-c-w light" data-nav="nav-technology">
                    <a class="hov-dec-u" href="#technology">Technology</a>
                </li>
                <ul class="sub-nav">
                    {{#each data.reportData.data.technologySection.subSections}}
                    {{#ifeq this.isBlurred true}}
                    <li>
                        <div class="score-item-nav">
                            ?
                        </div>
                        <a href="#{{this.key}}">{{this.friendlyName}}</a>
                    </li>
                    {{else}}
                    <li>
                        <div class="score-item-nav {{this.passedClass}}">
                            <p style="font-size: 0.85rem;">{{this.circleTextDisplay}}</p>
                        </div>

                        <a href="#{{this.key}}">{{this.friendlyName}}</a>
                    </li>
                    {{/ifeq}}
                    {{/each}}
                </ul>
                <li class="c-l-w hov-c-w light" data-nav="nav-recommendations"><a class="hov-dec-u"
                        href="#recommendations">Recommendations</a></li>
            </aside>
        </nav>
        {{#ifeq data.blurr true}}
        <div class="login-wrap " style="outline: 0 none;position: fixed !important;">
            <div class="login-html">
                <div class="section-title myt-2 t-center py-1 px-1">
                    <h3>Register/login for Free</h3>
                    <p>To get access to this premium data</p>
                </div>
                <br><br>
                <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign
                    In</label>
                <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">
                    Register</label>

                <div class="login-form">
                    <form id="formCST" action="" method="post">
                        <div class="sign-in-htm">
                            <div class="group">
                                <label for="pass" class="label">Email Address</label>
                                <input id="email-input" class="form-control" type="text" name="login">
                            </div>
                            <div class="group">
                                <label for="pass" class="label">Password</label>
                                <input id="password-input" class="form-control input-password password-login"
                                    type="text" name="password" placeholder="Password">
                            </div>
                            <div class="group">
                                <input id="check" type="checkbox" class="check" checked>
                                <label for="check"><span class="icon"></span> Keep me Signed in</label>
                            </div>
                            <div class="group">
                                <input id="sbmt-btn" class="btn btn-block btn-lg btn-primary accent-box-btn"
                                    type="submit" type="submit" class="button" value="Sign In">
                            </div>
                            <div class="hr"></div>
                            <div class="foot-lnk">
                                <a href="#forgot">Forgot Password?</a>
                            </div>
                        </div>
                        <div class="sign-up-htm">
                            <div class="group">
                                <label for="user" class="label">Name</label>
                                <input id="name-input" class="form-control" type="name" name="name">
                            </div>
                            <div class="group">
                                <label for="pass" class="label">Email Address</label>
                                <input id="email-input" class="form-control" type="email" name="email">
                            </div>
                            <div class="group">
                                <label for="pass" class="label">Password</label>
                                <input id="password-input" class="form-control input-password password-register-1"
                                    type="text" name="pass1">
                            </div>
                            <div class="group">
                                <label for="pass" class="label">Repeat Password</label>
                                <input id="cpassword-input" class="form-control input-password password-register-2"
                                    type="text" name="pass2">
                            </div>

                            <div class="group">
                                <input type="submit" class="button" value="Sign Up">
                            </div>
                            <div class="hr"></div>
                            <div class="foot-lnk">
                                <label for="tab-1">Already Member?</a>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
        {{/ifeq}}
        <div class="inner-body py-4 px-3" {{#ifeq data.blurr true}} style="filter: blur(8px);-webkit-filter: blur(8px);"
            {{/ifeq}}>

            {{!-- {{/each}} --}}
            <div>
                <div class="item-section">Performance</div>
            </div>


            <h1>Audit Results for {{#ifeq data.blurr true}} www.example.com {{else}}{{data.reportData.url}}
                {{/ifeq}}
            </h1>
            <header class="myt-2 section-wrapper" id="overview" data-section="overview">
                <div class="py-2 px-1">
                    <svg viewBox="0 0 36 36"
                        class="circular-chart {{data.reportData.overallSection.colorClass}} large-chart">
                        <path class="circle-bg" d="M18 2.0845
                    a 15.9155 15.9155 0 0 1 0 31.831
                    a 15.9155 15.9155 0 0 1 0 -31.831"></path>
                        <path class="circle" stroke-dasharray="{{data.reportData.overallSection.score}}, 100" d="M18 2.0845
                    a 15.9155 15.9155 0 0 1 0 31.831
                    a 15.9155 15.9155 0 0 1 0 -31.831"></path>
                        <text x="18" y="20.35" class="percentage">{{data.reportData.overallSection.score}}%</text>
                    </svg>
                    <h2 class="t-center my-1">{{data.reportData.overall.title}}</h2>
                    <a href="#recommendations">
                        <div class="box-wrapper" style="width: 100%;">
                            <div class="info">
                                <div><img src="img/info2.png" alt="info"></div>
                                <div>
                                    <p>You have {{data.reportData.recommendations.length}} improvements recommended</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="py-2 px-1">
                    <div class="pc-wrapper">

                        <img class="mxw-450" src="img/pc.png" alt="pc">
                        <div class="imac">
                            <img src="{{data.screenshot}}" alt="imac">
                        </div>
                    </div>
                </div>
            </header>
            <section class="section px-3 py-2 overview-all myt-2 t-center">
                <div>
                    <h2>Seo</h2>
                    <div class="single-chart">
                        <svg viewBox="0 0 36 36"
                            class="m-a myt-1 circular-chart {{data.reportData.data.seoSection.colorClass}}">
                            <path class="circle-bg" d="M18 2.0845
                        a 15.9155 15.9155 0 0 1 0 31.831
                        a 15.9155 15.9155 0 0 1 0 -31.831"></path>
                            <path class="circle"
                                stroke-dasharray="{{data.reportData.data.seoSection.friendlyComputedScore}}, 100" d="M18 2.0845
                        a 15.9155 15.9155 0 0 1 0 31.831
                        a 15.9155 15.9155 0 0 1 0 -31.831"></path>
                            <text x="18" y="20.35" class="percentage">
                                {{data.reportData.data.seoSection.friendlyComputedScore}}%
                            </text>
                        </svg>
                    </div>
                </div>
                <div>
                    <h2>Usability</h2>
                    <div class="single-chart">
                        <svg viewBox="0 0 36 36"
                            class="m-a myt-1 circular-chart {{data.reportData.data.uiSection.colorClass}}">
                            <path class="circle-bg" d="M18 2.0845
                        a 15.9155 15.9155 0 0 1 0 31.831
                        a 15.9155 15.9155 0 0 1 0 -31.831"></path>
                            <path class="circle"
                                stroke-dasharray="{{data.reportData.data.uiSection.friendlyComputedScore}}, 100" d="M18 2.0845
                        a 15.9155 15.9155 0 0 1 0 31.831
                        a 15.9155 15.9155 0 0 1 0 -31.831"></path>
                            <text x="18" y="20.35" class="percentage">
                                {{data.reportData.data.uiSection.friendlyComputedScore}}%
                            </text>
                        </svg>
                    </div>
                </div>
                <div>
                    <h2>Performance</h2>
                    <div class="single-chart">
                        <svg viewBox="0 0 36 36"
                            class="m-a myt-1 circular-chart {{data.reportData.data.performanceSection.colorClass}}">
                            <path class="circle-bg" d="M18 2.0845
                        a 15.9155 15.9155 0 0 1 0 31.831
                        a 15.9155 15.9155 0 0 1 0 -31.831"></path>
                            <path class="circle"
                                stroke-dasharray="{{data.reportData.data.performanceSection.friendlyComputedScore}}, 100"
                                d="M18 2.0845
                        a 15.9155 15.9155 0 0 1 0 31.831
                        a 15.9155 15.9155 0 0 1 0 -31.831"></path>
                            <text x="18" y="20.35" class="percentage">
                                {{data.reportData.data.performanceSection.friendlyComputedScore}}%
                            </text>
                        </svg>
                    </div>
                </div>
                <div>
                    <h2>Social</h2>
                    <div class="single-chart">
                        <svg viewBox="0 0 36 36"
                            class="m-a myt-1 circular-chart {{data.reportData.data.socialSection.colorClass}}">
                            <path class="circle-bg" d="M18 2.0845
                        a 15.9155 15.9155 0 0 1 0 31.831
                        a 15.9155 15.9155 0 0 1 0 -31.831"></path>
                            <path class="circle"
                                stroke-dasharray="{{data.reportData.data.socialSection.friendlyComputedScore}}, 100" d="M18 2.0845
                        a 15.9155 15.9155 0 0 1 0 31.831
                        a 15.9155 15.9155 0 0 1 0 -31.831"></path>
                            <text x="18" y="20.35" class="percentage">
                                {{data.reportData.data.socialSection.friendlyComputedScore}}%
                            </text>
                        </svg>
                    </div>
                </div>
                <div>
                    <h2>Security</h2>
                    <div class="single-chart">
                        <svg viewBox="0 0 36 36"
                            class="m-a myt-1 circular-chart {{data.reportData.data.securitySection.colorClass}}">
                            <path class="circle-bg" d="M18 2.0845
                        a 15.9155 15.9155 0 0 1 0 31.831
                        a 15.9155 15.9155 0 0 1 0 -31.831"></path>
                            <path class="circle"
                                stroke-dasharray="{{data.reportData.data.securitySection.friendlyComputedScore}}, 100"
                                d="M18 2.0845
                        a 15.9155 15.9155 0 0 1 0 31.831
                        a 15.9155 15.9155 0 0 1 0 -31.831"></path>
                            <text x="18" y="20.35" class="percentage">
                                {{data.reportData.data.securitySection.friendlyComputedScore}}%
                            </text>
                        </svg>
                    </div>
                </div>
            </section>
            <div class="section-title myt-2 t-center py-2 px-1">
                <h2>Seo</h2>
            </div>
            <section class="section-body px-3 myt-2 section-wrapper" id="seo" data-section="seo">
                <div class="section-average py-3">
                    <div class="single-chart">
                        <svg viewBox="0 0 36 36" class="circular-chart {{data.reportData.data.seoSection.colorClass}}">
                            <path class="circle-bg" d="M18 2.0845
                    a 15.9155 15.9155 0 0 1 0 31.831
                    a 15.9155 15.9155 0 0 1 0 -31.831"></path>
                            <path class="circle"
                                stroke-dasharray="{{data.reportData.data.seoSection.friendlyComputedScore}}, 100" d="M18 2.0845
                    a 15.9155 15.9155 0 0 1 0 31.831
                    a 15.9155 15.9155 0 0 1 0 -31.831"></path>
                            <text x="18" y="20.35"
                                class="percentage">{{data.reportData.data.seoSection.friendlyComputedScore}}%</text>
                        </svg>
                    </div>
                    <div>
                        <h4>{{data.reportData.data.seoSection.title}}</h4>
                        <p class="c-g">
                            {{data.reportData.data.seoSection.description}}
                        </p>
                    </div>
                </div>
                {{#each data.reportData.data.seoSection.subSections}}
                {{#ifeq this.isBlurred true}}
                {{> blurred-subsection}}
                {{else ifeq this.key 'headers'}}
                {{> header-subsection}}
                {{else ifeq this.key 'title'}}
                {{> title-subsection}}
                {{else ifeq this.key 'keywords'}}
                {{> keywords-subsection}}
                {{else ifeq this.key 'backlinks'}}
                {{> backlinks-subsection}}
                {{else ifeq this.key 'backlinksList'}}
                {{> backlinksList-subsection}}
                {{else ifeq this.key 'contentLength'}}
                {{> contentLength-subsection}}
                {{else ifeq this.key 'description'}}
                {{> description-subsection}}
                {{else ifeq this.key 'imageAlt'}}
                {{> imageAlt-subsection}}
                {{else ifeq this.key 'robotsTxt'}}
                {{> robotsTxt-subsection}}
                {{else ifeq this.key 'analytics'}}
                {{> analytics-subsection}}
                {{else ifeq this.key 'sitemap'}}
                {{> sitemap-subsection}}
                {{else ifeq this.key 'onPageLinks'}}
                {{> on-page-subsection}}
                {{else ifeq this.passed null}}

                {{else}}
                {{> default-seo-subsection}}
                {{/ifeq}}
                {{/each}}
            </section>
            <div class="section-title myt-2 t-center py-1 px-1">
                <h2>Usability</h2>
            </div>
            <section class="section-body px-3 myt-2 section-wrapper" id="usability" data-section="usability">
                <div class="section-average py-3">
                    <div class="single-chart">
                        <svg viewBox="0 0 36 36" class="circular-chart {{data.reportData.data.seoSection.colorClass}}">
                            <path class="circle-bg" d="M18 2.0845
                    a 15.9155 15.9155 0 0 1 0 31.831
                    a 15.9155 15.9155 0 0 1 0 -31.831"></path>
                            <path class="circle"
                                stroke-dasharray="{{data.reportData.data.uiSection.friendlyComputedScore}}, 100" d="M18 2.0845
                    a 15.9155 15.9155 0 0 1 0 31.831
                    a 15.9155 15.9155 0 0 1 0 -31.831"></path>
                            <text x="18" y="20.35"
                                class="percentage">{{data.reportData.data.uiSection.friendlyComputedScore}}%</text>
                        </svg>
                    </div>
                    <div>
                        <h4>
                            {{data.reportData.data.uiSection.title}}
                        </h4>
                        <p class="c-g">
                            {{data.reportData.data.uiSection.description}}
                        </p>
                    </div>
                </div>
                {{#each data.reportData.data.uiSection.subSections}}
                {{#ifeq this.isBlurred true}}
                {{> blurred-subsection}}
                {{else ifeq this.key 'deviceRendering'}}
                {{> device-rendering-subsection}}
                {{else}}
                {{> default-seo-subsection}}
                {{/ifeq}}
                {{/each}}
            </section>
            <div class="section-title t-center py-1 px-1 myt-2">
                <h2>Performance Results</h2>
            </div>
            <section class="section-body px-3 myt-2 section-wrapper" id="performance" data-section="performance">
                <div class="section-average py-3">
                    <div class="single-chart">
                        <svg viewBox="0 0 36 36"
                            class="circular-chart {{data.reportData.data.performanceSection.colorClass}}">
                            <path class="circle-bg" d="M18 2.0845
                    a 15.9155 15.9155 0 0 1 0 31.831
                    a 15.9155 15.9155 0 0 1 0 -31.831"></path>
                            <path class="circle"
                                stroke-dasharray="{{data.reportData.data.performanceSection.friendlyComputedScore}}, 100"
                                d="M18 2.0845
                    a 15.9155 15.9155 0 0 1 0 31.831
                    a 15.9155 15.9155 0 0 1 0 -31.831"></path>
                            <text x="18" y="20.35"
                                class="percentage">{{data.reportData.data.performanceSection.friendlyComputedScore}}%</text>
                        </svg>
                    </div>
                    <div>
                        <h4>
                            {{data.reportData.data.performanceSection.title}}
                        </h4>
                        <p class="c-g">
                            {{data.reportData.data.performanceSection.description}}
                        </p>
                    </div>
                </div>
                {{#each data.reportData.data.performanceSection.subSections}}
                {{#ifeq this.isBlurred true}}
                {{> blurred-subsection}}
                {{else ifeq this.key 'serverResponseTime'}}
                {{> response-time-subsection}}
                {{else ifeq this.key 'pageSize'}}
                {{> page-size-subsection}}
                {{else ifeq this.key 'numberOfResources'}}
                {{> resource-number-subsection}}
                {{else ifeq this.passed null}}

                {{else}}
                {{> default-seo-subsection}}
                {{/ifeq}}
                {{/each}}
            </section>
            <div class="section-title t-center py-1 px-1 myt-2">
                <h2>Social Results</h2>
            </div>
            <section class="section-body px-3 myt-2 section-wrapper" id="social" data-section="social">
                <div class="section-average py-3">
                    <div class="single-chart">
                        <svg viewBox="0 0 36 36"
                            class="circular-chart {{data.reportData.data.socialSection.colorClass}}">
                            <path class="circle-bg" d="M18 2.0845
                a 15.9155 15.9155 0 0 1 0 31.831
                a 15.9155 15.9155 0 0 1 0 -31.831"></path>
                            <path class="circle"
                                stroke-dasharray="{{data.reportData.data.socialSection.friendlyComputedScore}}, 100" d="M18 2.0845
                a 15.9155 15.9155 0 0 1 0 31.831
                a 15.9155 15.9155 0 0 1 0 -31.831"></path>
                            <text x="18" y="20.35"
                                class="percentage">{{data.reportData.data.socialSection.friendlyComputedScore}}%</text>
                        </svg>
                    </div>
                    <div>
                        <h4>{{data.reportData.data.socialSection.title}}</h4>
                        <p class="c-g">
                            {{data.reportData.data.socialSection.description}}
                        </p>
                    </div>
                </div>
                {{#each data.reportData.data.socialSection.subSections}}
                {{#ifeq this.isBlurred true}}
                {{> blurred-subsection}}
                {{else ifeq this.key 'twitterTags'}}
                {{> twitter-tags-subsection}}
                {{else ifeq this.key 'facebookPixel'}}
                {{> facebookPixel-subsection}}
                {{else ifeq this.key 'openGraphTags'}}
                {{> openGraphTags-subsection}}
                {{else ifeq this.key 'twitterActivity'}}
                {{> twitter-follower-subsection}}
                {{else ifeq this.passed null}}

                {{else}}
                {{> default-seo-subsection}}
                {{/ifeq}}
                {{/each}}
            </section>
            <div class="section-title t-center py-1 px-1 myt-2">
                <h2>Security</h2>
            </div>
            <section class="section-body px-3 myt-2 section-wrapper" id="security" data-section="security">
                <div class="section-average py-3">
                    <div class="single-chart">
                        <svg viewBox="0 0 36 36"
                            class="circular-chart {{data.reportData.data.securitySection.colorClass}}">
                            <path class="circle-bg" d="M18 2.0845
                    a 15.9155 15.9155 0 0 1 0 31.831
                    a 15.9155 15.9155 0 0 1 0 -31.831"></path>
                            <path class="circle"
                                stroke-dasharray="{{data.reportData.data.securitySection.friendlyComputedScore}}, 100"
                                d="M18 2.0845
                    a 15.9155 15.9155 0 0 1 0 31.831
                    a 15.9155 15.9155 0 0 1 0 -31.831"></path>
                            <text x="18" y="20.35"
                                class="percentage">{{data.reportData.data.securitySection.friendlyComputedScore}}%</text>
                        </svg>
                    </div>
                    <div>
                        <h4>{{data.reportData.data.securitySection.title}}</h4>
                        <p class="c-g">
                            {{data.reportData.data.securitySection.description}}
                        </p>
                    </div>
                </div>
                {{#each data.reportData.data.securitySection.subSections}}
                {{#ifeq this.isBlurred true}}
                {{> blurred-subsection}}
                {{else ifeq this.key 'malware'}}
                {{> malware-subsection}}
                {{else ifeq this.passed null}}

                {{else}}
                {{> default-seo-subsection}}
                {{/ifeq}}
                {{/each}}
            </section>
            <div class="section-title t-center py-1 px-1 myt-2">
                <h2>Technology</h2>
            </div>
            <section class="section-body px-3 myt-2 section-wrapper" id="technology" data-section="technology">
                <div class="section-average py-3">

                    <div>
                        <h4>Technology Results</h4>
                        <p class="c-g">
                            Here are your technology information on you page. They dont count for SEO ranking.
                        </p>
                    </div>
                </div>
                {{#each data.reportData.data.technologySection.subSections}}
                {{#ifeq this.isBlurred true}}
                {{> blurred-subsection}}
                {{else ifeq this.key 'technologies'}}
                {{> technologies-subsection}}
                {{else}}
                {{> default-tech-subsection}}
                {{/ifeq}}
                {{/each}}
            </section>
            <div class="section-title t-center py-1 px-1 myt-2">
                <h2>Recommendations</h2>
            </div>
            <section class="section-body px-3 myt-2 section-wrapper" id="recommendations"
                data-section="recommendations">
                {{#each data.reportData.recommendations}}
                <div class="rec-item py-2;">
                    <div style="width: 100%; display: flex; padding:20px" class="box-wrapper">
                        <div class="item-num item-num-red">
                            <p style="font-size:0.7rem;">{{this.priority}}</p>
                        </div>
                        <div>
                            <h3>{{this.recommendation}}</h3>
                        </div>
                    </div>
                    <div class="rec-i">
                        <div class="item-section">{{this.section}}</div>
                    </div>
                </div>
                <hr class="section-line">

                {{/each}}
            </section>
        </div>
    </div>
    <script src="js/app.js"></script>
    <script>
        *,: after,: before{ box - sizing: border - box }
.clearfix: after,.clearfix: before{ content: ''; display: table }
.clearfix: after{ clear: both; display: block }
        a{ color: inherit; text - decoration: none }

    </script>
    <script src="../components/base/alertsHome.js"></script>
    <style>
        .alertCST {
            position: absolute !important;
            top: 100px;
            right: 5px;
            width: fit-content !important;
            z-index: 10;
        }
    </style>


    {{/if}}
</body>

</html>