//- Progress Circle
	@param {object} data
	@param {string} data.to
	@param {string} [data.from]
	@param {string} [data.count]
mixin progress-circle( data )
	.progress-circle-wrap
		.progress-counter-wrap
			.progress-counter-value( style=`color: ${data.color}` )
				if ( data.prefix )
					= data.prefix
				span.progress-counter= data.count
				if ( data.postfix )
					span.progress-postfix= data.postfix
			if ( data.title )
				.progress-title= data.title
		svg.progress-circle( x='0', y='0', width='60', height='60', viewbox='0 0 60 60' )
			circle.bg( cx=30, cy=30, r=29 )
			circle.fg.clipped( cx=30, cy=30, r=29, style=`stroke: ${data.color}` )
