<hr class="section-line">
<div class="item py-3" id="{{this.key}}">
    <div class="item-header">
        <div class="item-title">
            <div class="title-sign">
                <div class="sign item-num {{this.passedClass}}">
                    <p>{{this.circleTextDisplay}}</p>
                </div>
                <div class="title">
                    <h3>{{this.friendlyName}}</h3>
                </div>
            </div>
            <div>
                {{#ifeq this.key 'brokenLinks'}}
                {{> info-broken-links}}
                {{else ifeq this.key 'friendlyUrls'}}
                {{> info-friendly-urls}}
                {{else ifeq  this.key 'noindexHeaders'}}
                {{> info-noindexHeaders}}
                {{else ifeq  this.key 'noindexTags'}}
                {{> info-noindexTag}}
                {{else ifeq  this.key 'schemaOrg'}}
                {{> info-schemaOrg}}
                {{else ifeq  this.key 'favicon'}}
                {{> info-favicon}}
                {{else ifeq  this.key 'flash'}}
                {{> info-flash}}
                {{else ifeq  this.key 'iframe'}}
                {{> info-iframe}}
                {{else ifeq  this.key 'legibleFonts'}}
                {{> info-fontsize}}
                {{else ifeq  this.key 'mobileViewport'}}
                {{> info-mobileViewport}}
                {{else ifeq  this.key 'deprecated'}}
                {{> info-deprecated}}
                {{else ifeq  this.key 'gzip'}}
                {{> info-gzip}}
                {{else ifeq  this.key 'inlineCss'}}
                {{> info-inlineCss}}
                {{else ifeq  this.key 'minified'}}
                {{> info-minified}}
                {{else ifeq  this.key 'optimizedImages'}}
                {{> info-optimizedImages}}
                {{else ifeq  this.key 'email'}}
                {{> info-email}}
                {{else ifeq  this.key 'httpsRedirect'}}
                {{> info-httpsRedirect}}
                {{else ifeq  this.key 'sslEnabled'}}
                {{> info-sslEnabled}}





                {{/ifeq}}
                <div class="item-section">{{this.section}}</div>
                {{!-- <img data-title="Title Here" data-info="Info Here" class="question" src="img/info.png" alt="Info"> --}}
            </div>
        </div>
    </div>
    <div class="item-body myt-2">
        {{#if this.passed}}
        <div class="box-wrapper">
            {{#if this.shortAnswer}}
            <div class="answer">
                {{!-- <div><img style="height: 50px;" src="img/success.png" alt="Check"></div> --}}
                <div style="margin-top: 20px;">
                    <p>
                        {{this.shortAnswer}}
                    </p>
                </div>
            </div>
            {{/if}}
            {{#if this.value}}
            <div class="answer">
                {{!-- <div><img style="height: 50px;" src="img/success.png" alt="Check"></div> --}}
                <div style="margin-top: 20px;">
                    <p>
                        Value: <br> {{this.value}}
                    </p>
                </div>
            </div>
            {{/if}}
        </div>
        {{else}}
        {{#if this.shortAnswer}}
        <div class="box-wrapper">
            <div class="answer">
                {{!-- <div><img style="height: 50px;" src="img/err.png" alt="Check"></div> --}}
                <div style="margin-top: 20px;">
                    <p>
                        {{this.shortAnswer}}
                    </p>
                </div>
            </div>
        </div>
        {{/if}}
        {{#if this.value}}
        <div class="answer">
            {{!-- <div><img style="height: 50px;" src="img/info3.png" alt="Value"></div> --}}
            <div style="margin-top: 20px;">
                <p>
                    Value: <br> {{this.value}}
                </p>
            </div>
        </div>
        {{/if}}
        {{#if this.recommendation}}
        <div class="box-wrapper">
            <div class="info">
                <div><img src="img/info2.png" alt="recommendation"></div>
                <div>
                    <p>
                        Recommendation: <br> {{this.recommendation}}
                    </p>
                </div>
            </div>
        </div>
        {{/if}}

        {{/if}}

        {{#if this.data}}
        {{#ifObject this.data}}
        <div class="info" style="margin-top: 20px;">


            <div><img style="height: 50px;" src="img/info2.png" alt="data"></div>
            <div>


                <ul>
                    {{#each this.data}}
                    {{#ifArray this}}

                    {{else}}
                    <li>
                        {{friendlyText @key}}: {{this}}
                    </li>
                    {{/ifArray}}
                    {{/each}}
                </ul>
            </div>

        </div>

        {{else}}
        <div class="info">
            <div><img style="height: 50px;" src="img/info2.png" alt="data"></div>
            <div style="margin-top: 20px;">
                {{this.data}}
            </div>
        </div>
        {{/ifObject}}
        {{/if}}

        {{#if this.data}}
        {{#each this.data}}
        {{#ifArray this}}
        {{> table-subsection this}}
        {{/ifArray}}
        {{#ifObject this}}
        {{> table-subsection this}}
        {{/ifObject}}
        {{/each}}
        {{/if}}
    </div>
</div>