<hr class="section-line">
<div class="item py-3" id="{{this.key}}">
    <div class="item-header">
        <div class="item-title">
            <div class="title-sign">
                <div class="sign item-num {{this.passedClass}}">
                    <p>{{this.circleTextDisplay}}</p>
                </div>
                <div class="title">
                    <h3>{{this.friendlyName}}</h3>
                </div>
            </div>
            <div>
                <li class="mx-2 question" data-title="Meta Description"
                    data-info="Meta descriptions allow you to influence how your web pages are described and displayed in search results. A good description acts as a potential organic advertisement and encourages the viewer to click through to your site.
Keep it short and to the point; the ideal meta description should contain between 70 and 160 characters - spaces included (600 - 940 pixels).
Ensure that each of your web pages have a unique, straightforward meta description that contains most important keywords. These keywords are especially important because they appear in bold when they match the user’s search query (See the Google Preview below).
Check your Google Search Console (Search Appearance > HTML Improvements) for any warning messages to identify meta descriptions that are too long/short or duplicated across more than one page.">
                    <a class="hov-c-b d-i-b">
                        What is this?</a></li>
                <div class="item-section">{{this.section}}</div>
                {{!-- <img data-title="Title Here" data-info="Info Here" class="question" src="img/info.png" alt="Info"> --}}
            </div>
        </div>
    </div>
    <div class="item-body myt-2">
        {{#if this.passed}}
        <div class="box-wrapper">
            {{#if this.shortAnswer}}
            <div class="answer">
                <div style="margin-top: 20px;">
                    <p>
                        {{this.shortAnswer}}. <br> Length of Meta Description is {{this.value}}.
                    </p>
                </div>
            </div>
            {{/if}}
        </div>
        {{else}}
        {{#if this.shortAnswer}}
        <div class="box-wrapper">
            <div class="answer">
                <div style="margin-top: 20px;">
                    <p>
                        {{this.shortAnswer}}. <br> Length of Meta Description is {{this.value}}.
                    </p>
                </div>
            </div>
        </div>
        {{/if}}


        {{#if this.data}}
        <div class="box-wrapper">
            <div class="danger">
                <div style="margin-top: 20px;">
                    <p>
                        Page Meta Description: <br>{{this.data}}
                    </p>
                </div>
            </div>
        </div>
        {{/if}}

        {{#if this.recommendation}}
        <div class="box-wrapper" style="margin-top: 50px;">
            <div class="info">
                <div><img src="img/info2.png" alt="recommendation"></div>
                <p>
                    Recommendation: <br> {{this.recommendation}}
                </p>
            </div>
        </div>
        {{/if}}

        {{/if}}

        {{#if this.data}}
        {{#ifObject this.data}}
        <div class="answer" style="margin-top: 20px;">


            <div>


                <ul>
                    {{#each this.data}}
                    {{#ifArray this}}

                    {{else}}
                    <li>
                        {{friendlyText @key}}: {{this}}
                    </li>
                    {{/ifArray}}
                    {{/each}}
                </ul>
            </div>

        </div>


        {{/ifObject}}
        {{/if}}


    </div>
</div>