<hr class="section-line">
<div class="item py-3" id="{{this.key}}">
    <div class="item-header">
        <div class="item-title">
            <div class="title-sign">
                <div class="sign item-num {{this.passedClass}}">
                    <p>{{this.circleTextDisplay}}</p>
                </div>
                <div class="title">
                    <h3>{{this.friendlyName}}</h3>
                </div>
            </div>
            <div>
                <li class="mx-2 question" data-title="Headings"
                    data-info="
                        Use your keywords in the headings and make sure the first level H1 includes your most important keywords. Never duplicate your title tag content in your header tag.

                        While it is important to ensure every page has an H1 tag, only include more than one per page if you're using HTML5. Instead, use multiple H2 - H6 tags.">
                    <a class="hov-c-b d-i-b">
                        What is this?</a></li>
                <div class="item-section">{{this.section}}</div>
                {{!-- <img data-title="Title Here" data-info="Info Here" class="question" src="img/info.png" alt="Info"> --}}
            </div>
        </div>
    </div>
    <div class="item-body myt-2">
        {{#if this.passed}}
        <div class="box-wrapper">
            {{#if this.shortAnswer}}
            <div class="answer">
                <div style="margin-top: 20px;">
                    <p>
                        {{this.shortAnswer}}
                    </p>
                </div>
            </div>
            {{/if}}
        </div>
        {{else}}
        {{#if this.shortAnswer}}
        <div class="box-wrapper">
            <div class="answer">
                <div style="margin-top: 20px;">
                    <p>
                        {{this.shortAnswer}}
                    </p>
                </div>
            </div>
        </div>
        {{/if}}
        {{#if this.recommendation}}
        <div class="box-wrapper">
            <div class="info">
                <div><img src="img/info2.png" alt="recommendation"></div>
                <div>
                    <p>
                        Recommendation: <br> {{this.recommendation}}
                    </p>
                </div>
            </div>
        </div>
        {{/if}}

        {{/if}}
        <div class="box-wrapper" style="margin-top: 20px;">
            <div class="info">
                <div><img src="img/info2.png" alt="info"></div>
                <div class="table-wrapper">
                    <table cellpadding="0" cellspacing="0" border="0" class="table header-tags">
                        <thead>
                            <tr>
                                <th>Header Tag</th>
                                <th>Frequency</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>H1</td>
                                <td>
                                    <div class="bar-count-wrapper">
                                        {{#if this.data.h1.length}}
                                        {{this.data.h1.length}}
                                        {{else}}
                                        0
                                        {{/if}}
                                    </div>

                                </td>
                            </tr>
                            <tr>
                                <td>H2</td>
                                <td>
                                    <div class="bar-count-wrapper">
                                        {{#if this.data.h2.length}}
                                        {{this.data.h2.length}}
                                        {{else}}
                                        0
                                        {{/if}} </div>

                                </td>
                            </tr>
                            <tr>
                                <td>H3
                                </td>
                                <td>
                                    <div class="bar-count-wrapper">
                                        {{#if this.data.h3.length}}
                                        {{this.data.h3.length}}
                                        {{else}}
                                        0
                                        {{/if}} </div>

                                </td>
                            </tr>
                            <tr>
                                <td>H4</td>
                                <td>
                                    <div class="bar-count-wrapper">
                                        {{#if this.data.h4.length}}
                                        {{this.data.h4.length}}
                                        {{else}}
                                        0
                                        {{/if}} </div>

                                </td>
                            </tr>
                            <tr>
                                <td>H5</td>
                                <td>
                                    <div class="bar-count-wrapper">
                                        {{#if this.data.h5.length}}
                                        {{this.data.h5.length}}
                                        {{else}}
                                        0
                                        {{/if}} </div>

                                </td>
                            </tr>
                            <tr>
                                <td>H6</td>
                                <td>
                                    <div class="bar-count-wrapper">
                                        {{#if this.data.h6.length}}
                                        {{this.data.h6.length}}
                                        {{else}}
                                        0
                                        {{/if}} </div>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>