<hr class="section-line">
<div class="item py-3" id="{{this.key}}">
    <div class="item-header">
        <div class="item-title">
            <div class="title-sign">
                <div class="sign item-num {{this.passedClass}}">
                    <p>{{this.circleTextDisplay}}</p>
                </div>
                <div class="title">
                    <h3>{{this.friendlyName}}</h3>
                </div>
            </div>
            <div>
                <li class="mx-2 question" data-title="Image Alt" data-info="
                    Alternative text allows you to add a description to an image. Since search engine crawlers cannot see images, 
                    they rely on alternative text attributes to determine relevance to a search query. Alternative text also helps 
                    makes an image more likely to appear in a Google image search and is used by screen readers to provide context for visually impaired users.

Check the images on your website to make sure accurate and relevant alternative text is specified for each image on the page.

Try to keep your alternative text to a simple, one-sentence description of what's in the image.
">
                    <a class="hov-c-b d-i-b">
                        What is this?</a></li>
                <div class="item-section">{{this.section}}</div>
                {{!-- <img data-title="Title Here" data-info="Info Here" class="question" src="img/info.png" alt="Info"> --}}
            </div>
        </div>
    </div>
    <div class="item-body myt-2">
        {{#if this.passed}}
        <div class="box-wrapper">
            {{#if this.shortAnswer}}
            <div class="answer">
                <div style="margin-top: 20px;">
                    <p>
                        {{this.shortAnswer}}
                    </p>
                </div>
            </div>
            {{/if}}

            {{#if this.recommendation}}
            <div class="box-wrapper">
                <div class="info">
                    <div><img src="img/info2.png" alt="recommendation"></div>
                    <div>
                        <p>
                            Recommendation: <br> {{this.recommendation}}
                        </p>
                    </div>
                </div>
            </div>
            {{/if}}


            {{#if this.data}}
            {{#ifObject this.data}}
            <div class="answer">


                <div style="margin-top: 20px;">


                    <ul>
                        {{#each this.data}}
                        {{#ifArray this}}

                        {{else}}
                        <li>
                            {{#ifeq @key 'total'}}
                            Total of Image ALT Attributes: {{this}}

                            {{/ifeq}}






                            <!-- {{friendlyText @key}}: {{this}}-->
                        </li>
                        {{/ifArray}}
                        {{/each}}
                    </ul>
                </div>

            </div>

            {{/ifObject}}
            {{/if}}








        </div>
        {{else}}
        {{#if this.shortAnswer}}
        <div class="box-wrapper">
            <div class="answer">
                <div><img style="height: 50px;" src="img/err.png" alt="Check"></div>
                <div class="img-alt-responsive">
                    <p>
                        {{this.shortAnswer}}
                    </p>
                </div>
            </div>
        </div>
        {{/if}}
        {{#if this.recommendation}}
        <div class="box-wrapper">
            <div class="danger">
                <div><img style="height: 50px;" src="img/info3.png" alt="recommendation"></div>
                <div class="img-alt-responsive">
                    <p>
                        Recommendation: <br> {{this.recommendation}}
                    </p>
                </div>
            </div>
        </div>
        {{/if}}

        {{/if}}




    </div>
</div>