<hr class="section-line">
<div class="item py-3" id="{{this.key}}">
    <div class="item-header">
        <div class="item-title">
            <div class="title-sign">
                <div class="sign item-num {{this.passedClass}}">
                    <p>{{this.circleTextDisplay}}</p>
                </div>
                <div class="title">
                    <h3>{{this.friendlyName}}</h3>
                </div>
            </div>
            <div>
                <li class="mx-2 question" data-title="Keywords" data-info="
                    High ranking in search engines for appropriate keywords will almost always result in more high-quality visitors, and therefore sales or interest in your organization.

If you can achieve high rankings they are exceedingly cost-effective. Advertising has costs in proportion to the audience you receive – but organic search rankings are free at any scale. They’re also exclusive, in that your high ranking denies a competitor the same ranking.

At an absolute minimum, you should rank highly (ideally 1st) for your own name, or even people who know you will struggle to find you. Nearly all organizations should measure and aim to improve their ranking for a range of appropriate keywords.

Setting your keywords and search engi
"> <a class="hov-c-b d-i-b">
                        What is this?</a></li>
                <div class="item-section">{{this.section}}</div>
                {{!-- <img data-title="Title Here" data-info="Info Here" class="question" src="img/info.png" alt="Info"> --}}
            </div>
        </div>
    </div>
    <div class="item-body myt-2">
        {{#if this.shortAnswer}}
        <div class="box-wrapper">
            <div class="answer">
                <div style="margin-top: 20px;">
                    <p>
                        {{this.shortAnswer}}
                    </p>
                </div>
            </div>
        </div>
        {{/if}}


        {{#if this.recommendation}}
        <div class="box-wrapper">
            <div class="info">
                <div><img src="img/info2.png" alt="recommendation"></div>
                <p>
                    Recommendation: <br> {{this.recommendation}}
                </p>
            </div>
        </div>
        {{/if}}

        {{#if this.data.keywords}}
        <h3 style="margin-top: 30px;">Most frequent keywords</h3>
        <div class="box-wrapper" style="width: 100%;">
            <div class="info">
                <div><img src="img/info2.png" alt="info"></div>
                <div class="table-wrapper">
                    <table cellpadding="0" cellspacing="0" border="0" class="table">
                        <thead>
                            <tr>
                                <th>Keyword</th>
                                <th>Title</th>
                                <th>Meta Description Tag</th>
                                <th>Headings Tags</th>
                                <th>Page Frequency</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each this.data.keywords}}
                            {{#if this.word}}
                            <tr>
                                <td style="text-align: center;"><b>{{this.word}}</b></td>
                                <td style="text-align: center;">
                                    {{#if this.title}}
                                    <img src="img/check.svg" alt="Check">
                                    {{else}}
                                    <img src="img/cross.svg" alt="cross">
                                    {{/if}}
                                </td>
                                <td style="text-align: center;">
                                    {{#if this.description}}
                                    <img src="img/check.svg" alt="Check">
                                    {{else}}
                                    <img src="img/cross.svg" alt="cross">
                                    {{/if}}
                                </td>
                                <td style="text-align: center;">
                                    {{#if this.headers}}
                                    <img src="img/check.svg" alt="Check">
                                    {{else}}
                                    <img src="img/cross.svg" alt="cross">
                                    {{/if}}
                                </td>
                                <td style="text-align: center;">
                                    <div class="bar-count-wrapper">
                                        {{this.count}}
                                        <div style="width: 60%;" class="f-bar"></div>
                                    </div>
                                </td>
                            </tr>
                            {{/if}}
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {{/if}}

        {{#if this.data.phrases}}
        <h3>Phrases</h3>
        <div class="box-wrapper"></div>
        <div class="info">
            <div><img src="img/info2.png" alt="info"></div>
            <div class="table-wrapper">
                <table cellpadding="0" cellspacing="0" border="0" class="table">
                    <thead>
                        <tr>
                            <th>Keyword</th>
                            <th>Title</th>
                            <th>Meta Description Tag</th>
                            <th>Headings Tags</th>
                            <th>Page Frequency</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each this.data.phrases}}
                        {{#if this.word}}
                        <tr>
                            <td>{{this.word}}{{this.name}}</td>
                            <td>
                                {{#if this.title}}
                                <img src="img/check.svg" alt="Check">
                                {{else}}
                                <img src="img/cross.svg" alt="cross">
                                {{/if}}
                            </td>
                            <td>
                                {{#if this.description}}
                                <img src="img/check.svg" alt="Check">
                                {{else}}
                                <img src="img/cross.svg" alt="cross">
                                {{/if}}
                            </td>
                            <td>
                                {{#if this.headers}}
                                <img src="img/check.svg" alt="Check">
                                {{else}}
                                <img src="img/cross.svg" alt="cross">
                                {{/if}}
                            </td>
                            <td>
                                <div class="bar-count-wrapper">
                                    {{this.count}}
                                    <div style="width: 60%;" class="f-bar"></div>
                                </div>
                            </td>
                        </tr>
                        {{/if}}
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
        {{/if}}
    </div>
</div>