<hr class="section-line">

<div class="item py-3" id="{{this.key}}">
    <div class="item-header">
        <div class="item-num {{this.passedClass}}">
            <p>{{this.circleTextDisplay}}</p>
        </div>
        <div class="item-title">
            <h3>{{this.friendlyName}}</h3>
            <div>
                <div class="item-section">{{this.section}}</div>
                {{!-- <img data-title="Title Here" data-info="Info Here" class="question" src="img/info.png" alt="Info"> --}}
            </div>
        </div>
    </div>
    <div class="item-body myt-2" style="margin: 0">
        {{#if this.passed}}
        {{#if this.shortAnswer}}
        <div class="box-wrapper" style="
    margin-left: 20%;
">
            <div class="answer">
                <div><img style="height: 50px;" src="img/success.png" alt="Check"></div>
                <div style="margin-top: 20px;">
                    <p>
                        {{this.shortAnswer}}
                    </p>
                </div>
            </div>
        </div>
        {{/if}}
        {{else}}
        {{#if this.shortAnswer}}
        <div class="box-wrapper" style="
    margin-left: 20%;
">
            <div class="answer">
                <div><img style="height: 50px;" src="img/err.png" alt="Check"></div>
                <div style="margin-top: 20px;">
                    <p>
                        {{this.shortAnswer}}
                    </p>
                </div>
            </div>
        </div>
        {{/if}}
        {{/if}}

        {{#if this.recommendation}}
        <div class="box-wrapper" style="
    margin-left: 20%;
">
            <div class="danger">
                <div><img style="height: 50px;" src="img/info3.png" alt="Check"></div>
                <div style="margin-top: 20px;">
                    <p>
                        Recommendation: <br>{{this.recommendation}}
                    </p>
                </div>
            </div>
        </div>
        {{/if}}

        {{#if this.data.keywords}}
        <h3 style="margin-top: 30px;">Most frequent keywords</h3>
        <div class="box-wrapper" style="width: 100%">
            <div class="info">
                <div><img src="img/info2.png" alt="info"></div>
                <div class="table-wrapper">
                    <table cellpadding="0" cellspacing="0" border="0" class="table">
                        <thead>
                            <tr>
                                <th>Keyword</th>
                                <th>Title</th>
                                <th>Meta Description Tag</th>
                                <th>Headings Tags</th>
                                <th>Page Frequency</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each this.data.keywords}}
                            <tr>
                                <td style="text-align: center;">{{this.word}}</td>
                                <td style="text-align: center;">
                                    {{#if this.title}}
                                    <img src="img/check.svg" alt="Check">
                                    {{else}}
                                    <img src="img/cross.svg" alt="cross">
                                    {{/if}}
                                </td>
                                <td style="text-align: center;">
                                    {{#if this.description}}
                                    <img src="img/check.svg" alt="Check">
                                    {{else}}
                                    <img src="img/cross.svg" alt="cross">
                                    {{/if}}
                                </td>
                                <td style="text-align: center;">
                                    {{#if this.headers}}
                                    <img src="img/check.svg" alt="Check">
                                    {{else}}
                                    <img src="img/cross.svg" alt="cross">
                                    {{/if}}
                                </td>
                                <td style="text-align: center;">
                                    <div class="bar-count-wrapper">
                                        {{this.count}}
                                        <div style="width: 60%;" class="f-bar"></div>
                                    </div>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {{/if}}

        {{#if this.data.phrases}}
        <h3>Phrases</h3>
        <div class="box-wrapper" style="width: 100%"></div>
        <div class="info">
            <div><img src="img/info2.png" alt="info"></div>
            <div class="table-wrapper">
                <table cellpadding="0" cellspacing="0" border="0" class="table">
                    <thead>
                        <tr>
                            <th>Keyword</th>
                            <th>Title</th>
                            <th>Meta Description Tag</th>
                            <th>Headings Tags</th>
                            <th>Page Frequency</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each this.data.phrases}}
                        <tr>
                            <td>{{this.word}}{{this.name}}</td>
                            <td>
                                {{#if this.title}}
                                <img src="img/check.svg" alt="Check">
                                {{else}}
                                <img src="img/cross.svg" alt="cross">
                                {{/if}}
                            </td>
                            <td>
                                {{#if this.description}}
                                <img src="img/check.svg" alt="Check">
                                {{else}}
                                <img src="img/cross.svg" alt="cross">
                                {{/if}}
                            </td>
                            <td>
                                {{#if this.headers}}
                                <img src="img/check.svg" alt="Check">
                                {{else}}
                                <img src="img/cross.svg" alt="cross">
                                {{/if}}
                            </td>
                            <td>
                                <div class="bar-count-wrapper">
                                    {{this.count}}
                                    <div style="width: 60%;" class="f-bar"></div>
                                </div>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
        {{/if}}
    </div>
</div>