<hr class="section-line">
<div class="item py-3" id="{{this.key}}">
    <div class="item-header">
        <div class="item-title">
            <div class="title-sign">
                <div class="sign item-num {{this.passedClass}}">
                    <p>{{this.circleTextDisplay}}</p>
                </div>
                <div class="title">
                    <h3>{{this.friendlyName}}</h3>
                </div>
            </div>
            <div>
                <li class="mx-2 question" data-title="On Page Links"
                    data-info="Links pass value from one page to another. This value is called 'link juice'.

A page's link juice is split between all the links on that page so lots of unnecessary links on a page will dilute the value attributed to each link. There's no exact number of links to include on a page but best practice is to keep it under 200.

Using the Nofollow attribute in your links prevents some link juice, but these links are still taken into account when calculating the value that is passed through each link, so using lots of NoFollow links can still dilute PageRank.">
                    <a class="hov-c-b d-i-b">
                        What is this?</a></li>
                <div class="item-section">{{this.section}}</div>
                {{!-- <img data-title="Title Here" data-info="Info Here" class="question" src="img/info.png" alt="Info"> --}}
            </div>
        </div>
    </div>
    <div class="item-body myt-2">
        <div class="box-wrapper">
            <div class="info">
                <div><img src="img/info2.png" alt="Check"></div>
                <div>
                    <p>
                        We found {{#numeric this.data.total}}{{/numeric}} total links.
                        {{#numeric this.data.externalPercentage}}{{/numeric}}% of your links are
                        external links and are sending authority to other sites.
                        {{#numeric this.data.noFollowPercentage}}{{/numeric}}% of your links are nofollow
                        links, meaning authority is not being passed to those destination pages.
                    </p>
                </div>
            </div>

            {{#if this.recommendation}}
            <div class="box-wrapper">
                <div class="info">
                    <div><img src="img/info2.png" alt="recommendation"></div>
                    <div>
                        <p>
                            Recommendation: <br> {{this.recommendation}}
                        </p>
                    </div>
                </div>
            </div>
            {{/if}}
        </div>
    </div>
</div>