<hr class="section-line">
<div class="item py-3" id="{{this.key}}">
    <div class="item-header">
        <div class="item-title">
            <div class="title-sign">
                <div class="sign item-num {{this.passedClass}}">
                    <p>{{this.circleTextDisplay}}</p>
                </div>
                <div class="title">
                    <h3>{{this.friendlyName}}</h3>
                </div>
            </div>
            <div>
                <li class="mx-2 question" data-title="Open Graph Tag" data-info="

Facebook developed the Open Graph protocol to enable the integration of any web page with its social media platform. 
Other social media platforms have also adopted the protocol, allowing you to control how your web pages are presented when shared across social media.
Check out Facebook's Guide to Sharing for Webmasters to learn how to add Open Graph tags.
"><a class="hov-c-b d-i-b">
                        What is this?</a></li>
                <div class="item-section">{{this.section}}</div>
                {{!-- <img data-title="Title Here" data-info="Info Here" class="question" src="img/info.png" alt="Info"> --}}
            </div>
        </div>
    </div>
    <div class="item-body myt-2">
        <div class="box-wrapper">
            {{#if this.shortAnswer}}
            <div class="answer">
                <div>
                    <p>
                        {{this.shortAnswer}}
                    </p>
                </div>
            </div>
            {{/if}}

            {{#if this.recommendation}}
            <div class="box-wrapper">
                <div class="info">
                    <div><img src="img/info2.png" alt="recommendation"></div>
                    <div>
                        <p>
                            Recommendation: <br> {{this.recommendation}}
                        </p>
                    </div>
                </div>
            </div>
            {{/if}}


            {{#if this.data}}
            {{#ifObject this.data}}
            <div class="info">
                <div><img src="img/info2.png" alt="data"></div>
                <div>
                    <ul>
                        {{#each this.data}}
                        {{#ifArray this}}
                        {{else}}
                        <li>
                            {{#ifeq @key 'og:site_name'}}
                            <b>Site Name: </b> {{this}}
                            {{else ifeq @key 'og:type'}}
                            <b>Type:</b> {{this}}
                            {{else ifeq @key 'og:url'}}
                            <b>URL:</b> {{this}}
                            {{else ifeq @key 'og:image'}}
                            <b> Image:</b> {{this}}

                            {{else ifeq @key 'og:title'}}
                            <b>Title:</b> {{this}}
                            {{else ifeq @key 'og:description'}}
                            <b>Description:</b> {{this}}
                            {{/ifeq}}
                        </li>
                        {{/ifArray}}
                        {{/each}}
                    </ul>
                </div>
            </div>
            {{/ifObject}}
            {{/if}}
        </div>
    </div>
</div>