<hr class="section-line">
<div class="item py-3" id="{{this.key}}">
    <div class="item-header">
        <div class="item-num {{this.passedClass}}">
            <p>{{this.circleTextDisplay}}</p>
        </div>
        <div class="item-title">
            <h3>{{this.friendlyName}}</h3>
            <div>
                <div class="item-section">Performance</div>
                <img data-title="Title Here" data-info="Info Here" class="question" src="img/info.png"
                    alt="Info">
            </div>
        </div>
    </div>
    <div class="item-body myt-2">
        <div class="box-wrapper">
            <div class="answer">
                <div><img src="img/success.png" alt="Check"></div>
                <div>
                    <p>
                        {{this.shortAnswer}}
                    </p>
                </div>
            </div>
            <div class="g-1-1-1">
                <div class="info info-vertical">
                    <div><img src="img/info2.png" alt="info"></div>
                    <div>
                        <p class="my-1">Total Size</p>
                    </div>
                    <div>
                        <div class="f-c bold">
                            <h3 class="odometer bold" data-count="{{this.data.totalSize}}"></h3>
                            <h3 class="bold">&nbsp;Bytes</h3>
                        </div>
                    </div>
                </div>
                <div class="info info-vertical">
                    <div><img src="img/info2.png" alt="info"></div>
                    <div>
                        <p class="my-1">HTML Size</p>
                    </div>
                    <div class="f-c bold">
                        <h3 class="odometer bold" data-count="{{this.data.htmlSize}}"></h3>
                        <h3 class="bold">&nbsp;Bytes</h3>
                    </div>
                </div>
                <div class="info info-vertical">
                    <div><img src="img/info2.png" alt="info"></div>
                    <div>
                        <p class="my-1">Css Size</p>
                    </div>
                    <div class="f-c bold">
                        <h3 class="odometer bold" data-count="{{this.data.cssSize}}"></h3>
                        <h3 class="bold">&nbsp;Bytes</h3>
                    </div>
                </div>
                <div class="info info-vertical">
                    <div><img src="img/info2.png" alt="info"></div>
                    <div>
                        <p class="my-1">Js Size</p>
                    </div>
                    <div class="f-c bold">
                        <h3 class="odometer bold" data-count="{{this.data.jsSize}}"></h3>
                        <h3 class="bold">&nbsp;Bytes</h3>
                    </div>
                </div>
                <div class="info info-vertical">
                    <div><img src="img/info2.png" alt="info"></div>
                    <div>
                        <p class="my-1">Image Size</p>
                    </div>
                    <div class="f-c bold">
                        <h3 class="odometer bold" data-count="{{this.data.imageSize}}"></h3>
                        <h3 class="bold">&nbsp;Bytes</h3>
                    </div>
                </div>
                <div class="info info-vertical">
                    <div><img src="img/info2.png" alt="info"></div>
                    <div>
                        <p class="my-1">Other Size</p>
                    </div>
                    <div class="f-c bold">
                        <h3 class="odometer bold" data-count="{{this.data.otherSize}}"></h3>
                        <h3 class="bold">&nbsp;Bytes</h3>
                    </div>
                </div>

            </div>
            {{!-- <div class="info">
                <div><img src="img/info2.png" alt="info"></div>
                <div>
                    <p class="my-1">Compare your page sizes with our charts.</p>
                </div>

            </div> --}}
        </div>
        {{!-- <div class="box-wrapper">
            <div class="danger">
                <div><img src="img/err.png" alt="err"></div>
                <div>
                    <p>Example.</p>
                </div>
            </div>
        </div> --}}
    </div>
</div>