<hr class="section-line">
<div class="item py-3" id="{{this.key}}">
    <div class="item-header">
        <div class="item-title">
            <div class="title-sign">
                <div class="sign item-num {{this.passedClass}}">
                    <p>{{this.circleTextDisplay}}</p>
                </div>
                <div class="title">
                    <h3>{{this.friendlyName}}</h3>
                </div>
            </div>
            <div>

                <div class="item-section">{{this.section}}</div>
                {{!-- <img data-title="Title Here" data-info="Info Here" class="question" src="img/info.png" alt="Info"> --}}
            </div>
        </div>
    </div>
    <div class="item-body myt-2">
        <div class="box-wrapper">
            <div class="answer">
                <div>
                    <p>
                        {{this.shortAnswer}}
                    </p>
                </div>
            </div>
        </div>
        <div class="g-1-1-1" style="margin-top: 100px;">
            <div class="info info-vertical">
                <div><img src="img/info2.png" alt="info"></div>
                <div>
                    <p class="my-1">Server Response Time</p>
                </div>
                <div>
                    <div class="f-c bold">
                        <h3 class="odometer bold" data-count="{{this.data.responseTime}}"></h3>
                        <h3 class="bold">&nbsp;MS</h3>
                    </div>
                </div>
            </div>
            <div class="info info-vertical">
                <div><img src="img/info2.png" alt="info"></div>
                <div>
                    <p class="my-1">All Page Content Loaded</p>
                </div>
                <div>
                    <div class="f-c bold">
                        <h3 class="odometer bold" data-count="{{this.data.loadTime}}"></h3>
                        <h3 class="bold">&nbsp;MS</h3>
                    </div>
                </div>
            </div>
            <div class="info info-vertical">
                <div><img src="img/info2.png" alt="info"></div>
                <div>
                    <p class="my-1">All Page Scripts Complete</p>
                </div>
                <div>
                    <div class="f-c bold">
                        <h3 class="odometer bold" data-count="{{this.data.completeTime}}"></h3>
                        <h3 class="bold">&nbsp;MS</h3>
                    </div>
                </div>
            </div>
        </div>
        {{!-- <div class="box-wrapper">
            <div class="danger">
                <div><img src="img/err.png" alt="err"></div>
                <div>
                    <p>Example.</p>
                </div>
            </div>
        </div> --}}
    </div>
</div>