<div class="box-wrapper" style="width: 100%;">
    <div class="info">
        <div><img src="img/info2.png" alt="info"></div>
        {{#ifArray this}}
        <ul>
            {{#each this}}
            {{#ifString this}}
            <li>{{this}}</li>
            {{/ifString}}
            {{/each}}
        </ul>
        <div class="table-wrapper">
            <table cellpadding="0" cellspacing="0" border="0" class="table">
                {{#each this}}
                {{#if @first}}
                <thead>
                    {{#each this}}
                    <th>
                        {{friendlyText @key}}
                    </th>
                    {{/each}}
                </thead>
                {{/if}}
                <tbody>
                    {{#each this}}
                    <td>
                        {{this}}
                    </td>
                    {{/each}}
                </tbody>
                {{/each}}
            </table>
        </div>
        {{else ifObject this}}
        <ul>
            {{#each this}}
            <li>{{friendlyText @key}}:- {{this}}</li>
            {{/each}}
        </ul>
        {{else}}
        {{@key}} {{this}}
        {{/ifArray}}
    </div>
</div>