<hr class="section-line">
<div class="item py-3" id="{{this.key}}">
    <div class="item-header">
        <div class="item-title">
            <div class="title-sign">
                <div class="sign item-num {{this.passedClass}}">
                    <p>{{this.circleTextDisplay}}</p>
                </div>
                <div class="title">
                    <h3>{{this.friendlyName}}</h3>
                </div>
            </div>
            <div>
                <li class="mx-2 question" data-title="Twitter Cards" data-info="
                Twitter Cards are designed to give users a rich media experience whenever a tweet contains links to a site's content. 
                Twitter has various card types that can show content previews, play videos and increase traffic to your website.
                Check out Twitter's Guide to learn how to add Twitter Cards.
               
                
                "><a class="hov-c-b d-i-b">
                        What is this?</a></li>
                <div class="item-section">{{this.section}}</div>
                {{!-- <img data-title="Title Here" data-info="Info Here" class="question" src="img/info.png" alt="Info"> --}}
            </div>
        </div>
    </div>
    <div class="item-body myt-2">
        {{#if this.shortAnswer}}

        <div class="box-wrapper">
            <div class="answer">
                <div style="margin-top: 20px;">
                    <p>
                        {{this.shortAnswer}}
                    </p>
                </div>
            </div>
        </div>
        {{/if}}

        {{#if this.recommendation}}
        <div class="box-wrapper">
            <div class="info">
                <div><img src="img/info2.png" alt="recommendation"></div>
                <div>
                    <p>
                        Recommendation: <br> {{this.recommendation}}
                    </p>
                </div>
            </div>
        </div>
        {{/if}}


        <div class="g-1-1-1-1" style="margin-top: 20px;">
            <div class="info info-vertical">
                <div><img src="img/info2.png" alt="info"></div>
                <div>
                    <p class="my-1">Twitter Card</p>
                </div>
                <div>
                    <p>
                        {{#if this.data.[twitter:card]}}
                        {{this.data.[twitter:card]}}
                        {{else}}
                        <p>No data</p>
                        {{/if}}
                    </p>
                </div>
            </div>
            <div class="info info-vertical">
                <div><img src="img/info2.png" alt="info"></div>
                <div>
                    <p class="my-1">Twitter Site</p>
                </div>
                <div>
                    <p>
                        {{#if this.data.[twitter:image]}}
                        {{this.data.[twitter:image]}}
                        {{else}}
                        <p>No data</p>
                        {{/if}}
                    </p>
                </div>
            </div>
            <div class="info info-vertical">
                <div><img src="img/info2.png" alt="info"></div>
                <div>
                    <p class="my-1">Twitter Title</p>
                </div>
                <div>
                    <p>
                        {{#if this.data.[twitter:title]}}
                        {{this.data.[twitter:title]}}
                        {{else}}
                        <p>No data</p>
                        {{/if}}
                    </p>
                </div>
            </div>
            <div class="info info-vertical">
                <div><img src="img/info2.png" alt="info"></div>
                <div>
                    <p class="my-1">Twitter Description</p>
                </div>
                <div>
                    <p>
                        {{#if this.data.[twitter:description]}}
                        {{this.data.[twitter:description]}}
                        {{else}}
                        <p>No data</p>
                        {{/if}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>