<div class="item py-3" id="{{this.key}}">
    <div class="item-header">
        <div class="item-num {{this.passedClass}}">
            <p>{{this.circleTextDisplay}}</p>
        </div>
        <div class="item-title">
            <h3>Youtube Activity</h3>
            <div>
                <div class="item-section">{{this.section}}</div>
                {{!-- <img data-title="Title Here" data-info="Info Here" class="question" src="img/info.png" alt="Info"> --}}
            </div>
        </div>
    </div>
    <div class="item-body myt-2">
        <div class="box-wrapper">
            <div class="answer">
                <div><img src="img/success.png" alt="Check"></div>
                <div>
                    <p>
                        {{this.shortAnswer}}
                    </p>
                </div>
            </div>
        </div>
        {{#if this.passed}}
        <div class="g-1-1">
            <div class="info info-vertical">
                <div><img src="img/info2.png" alt="info"></div>
                <div>
                    <p class="my-1">Subscribers</p>
                </div>
                <div class="bold">
                    <h3 class="odometer bold" data-count="151"></h3>
                </div>
            </div>
            <div class="info info-vertical">
                <div><img src="img/info2.png" alt="info"></div>
                <div>
                    <p class="my-1">Views</p>
                </div>
                <div class="bold">
                    <h3 class="odometer bold" data-count="151"></h3>
                </div>
            </div>
        </div>
        {{else}}
        <div class="box-wrapper">
            <div class="danger">
                <div><img src="img/err.png" alt="err"></div>
                <div>
                    <p>
                        recommendation: <br> {{this.recommendation}}
                    </p>
                </div>
            </div>
        </div>
        {{/if}}
    </div>
</div>