.template-panel
	.template-panel-heading Navbar Themes
		button.template-panel-switch.fa-cog( data-multi-switch!={ targets: '.template-panel', scope: '.template-panel', isolate: '[data-multi-switch]' } )
	.template-panel-body
		.template-panel-group
			button.theme-switch.fa-check.active(
				title='Navbar Theme',
				style='border-color: #58a193 #58a193 #fff #fff; color: black;',
				data-theme-switch='greendesk-navbar-primary'
				data-theme!={
					'navbar-sidebar-color': '#fff',
					'navbar-sidebar-bg':    '#58a193',
					'navbar-toggle-color':  '#58a193',
					'navbar-logo-invert':   '0%'
				}
			)

			button.theme-switch.fa-check(
				title='Navbar Theme',
				style='border-color: #5b5eab #5b5eab #fff #fff; color: black;',
				data-theme-switch='greendesk-navbar-secondary'
				data-theme!={
					'navbar-sidebar-color': '#fff',
					'navbar-sidebar-bg':    '#5b5eab',
					'navbar-toggle-color':  '#5b5eab',
					'navbar-logo-invert':   '0%'
				}
			)

			button.theme-switch.fa-check(
				title='Navbar Theme',
				style='border-color: #34b1cc #34b1cc #fff #fff; color: black;',
				data-theme-switch='greendesk-navbar-info'
				data-theme!={
					'navbar-sidebar-color': '#fff',
					'navbar-sidebar-bg':    '#34b1cc',
					'navbar-toggle-color':  '#34b1cc',
					'navbar-logo-invert':   '0%'
				}
			)

			button.theme-switch.fa-check(
				title='Navbar Theme',
				style='border-color: #f7ad6a #f7ad6a #fff #fff; color: black;',
				data-theme-switch='greendesk-navbar-warning'
				data-theme!={
					'navbar-sidebar-color': '#fff',
					'navbar-sidebar-bg':    '#f7ad6a',
					'navbar-toggle-color':  '#f7ad6a',
					'navbar-logo-invert':   '0%'
				}
			)

			button.theme-switch.fa-check(
				title='Navbar Theme',
				style='border-color: #ff5f68 #ff5f68 #fff #fff; color: black;',
				data-theme-switch='greendesk-navbar-danger'
				data-theme!={
					'navbar-sidebar-color': '#fff',
					'navbar-sidebar-bg':    '#ff5f68',
					'navbar-toggle-color':  '#ff5f68',
					'navbar-logo-invert':   '0%'
				}
			)
